- form_for :attachment, :url => {:controller => "attachments", :action => "create"}, :html => { :multipart => true } do |form|
  %div{:class => "column span-12"}
    %h4="Attaching to #{@asset.class.to_s.underscore.humanize}: #{@asset.name}"

  %div#upload_files
    %label="Upload Image:"
    %br/ 
    = render :partial => 'upload_file', :locals => { :form => form }

  -# save asset id as person_id   
  = hidden_field_tag :person_id, @asset.id

  -# Save type of attachment
  = hidden_field_tag :type, @attachment.class

  %p.submit
    = submit_tag "Upload image", :disable_with => "Uploading your image..."