%fieldset
  %legend Patent

  = hidden_field_tag :klass, 'Patent'
  = render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form}

  %ul
    %li
      = render :partial => 'works/forms/fields/author_name_strings'
    %li
      = render :partial => 'works/forms/fields/title_primary', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/date_range', :locals => {:form => form, :label => "Filing Date"}
    %li
      = render :partial => 'works/forms/fields/publication_date', :locals => {:label => "Date Issued"}
    %li
      = render :partial => 'works/forms/fields/keywords'
    %li
      = render :partial => 'works/forms/fields/abstract', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/links', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/identifier', :locals => {:form => form, :label => "Patent Number"}
    %li
      = render :partial => 'works/forms/fields/notes', :locals => {:form => form}