%fieldset
  %legend Book Whole

  = render :partial => 'author_name_strings'

  = render :partial => 'editor_name_strings'

  %p
    %label Publication Date:
    = date_select 'work', 'publication_date', :start_year => 1950, :end_year => Time.now.year
    -#= form.text_field :year, :size => 4
  %p
    %label Book Title*:
    = form.text_field :title_primary, :size => 40
    %p
    %label ISBN:
    - issn_isbn = @publication.issn_isbn unless @publication.nil?
    = text_field_tag 'issn_isbn', issn_isbn, :size => 10
  %p
    = render :partial => 'publisher'

  - if current_user.has_role?("admin", System)
    %p 
      = render :partial => 'keywords'
    
  %p
    = render :partial => 'tags'

  %p
    %label Abstract:
    %br/
    = form.text_area :abstract

  = hidden_field_tag :type, 'BookWhole'
  
  %p.submit
    = submit_tag :save