%fieldset
  %legend Book Section

  %ul
    %li
      = render :partial => 'works/forms/fields/title_primary', :locals => {:label => "Article/Chapter Title", :form => form}
    %li
      = render :partial => 'works/forms/fields/author_name_strings'
    %li
      = render :partial => 'works/forms/fields/publication_date'
    %li
      = render :partial => 'works/forms/fields/editor_name_strings'
    %li
      = render :partial => 'works/forms/fields/title_secondary', :locals => {:label => "Book Title", :form => form}
    %li
      = render :partial => 'works/forms/fields/pages', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/publisher'

    -#Only Admin can add/edit keywords
    - if current_user.has_role?("admin", System)
      %li
        = render :partial => 'works/forms/fields/keywords'
    
    %li
      = render :partial => 'works/forms/fields/tags'
    %li
      = render :partial => 'works/forms/fields/abstract', :locals => {:form => form} 

= hidden_field_tag :type, 'BookSection'
= render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form}