%fieldset
  %legend Journal Article

  = hidden_field_tag :klass, 'JournalArticle'
  = render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form}

  %ul
    %li
      = render :partial => 'works/forms/fields/author_name_strings'
    %li
      = render :partial => 'works/forms/fields/title_primary', :locals => {:form => form, :label => "Article Title"}
    %li
      = render :partial => 'works/forms/fields/title_secondary', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/title_tertiary', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/publication', :locals => {:label => "Journal Title"}
    %li
      = render :partial => 'works/forms/fields/volume_issue', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/issn_isbn', :locals => {:issn => true}
    %li
      = render :partial => 'works/forms/fields/publisher'
    %li
      = render :partial => 'works/forms/fields/publication_date'
    %li
      = render :partial => 'works/forms/fields/pages', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/language', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/keywords'
    %li
      = render :partial => 'works/forms/fields/abstract', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/copyright_holder', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/sponsor', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/links', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/identifier', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/notes', :locals => {:form => form}
