-# Generic Form (for a Work)
%fieldset
  %legend Generic

  = render :partial => 'works/forms/fields/title_primary', :locals => {:form => form}

  = render :partial => 'works/forms/fields/title_secondary', :locals => {:form => form}
  
  = render :partial => 'works/forms/fields/author_name_strings'
 
  = render :partial => 'works/forms/fields/publication_date'  
    
  = render :partial => 'works/forms/fields/publication'
  
  = render :partial => 'works/forms/fields/publisher'
  
  = render :partial => 'works/forms/fields/issn_isbn'
  
  = render :partial => 'works/forms/fields/volume_issue', :locals => {:form => form} 
  
  = render :partial => 'works/forms/fields/pages', :locals => {:form => form}
  
  - if current_user.has_role?("admin", System)
    = render :partial => 'works/forms/fields/keywords'
    
  = render :partial => 'works/forms/fields/tags'
    
  = render :partial => 'works/forms/fields/abstract', :locals => {:form => form}  
    
  = hidden_field_tag :type, 'Generic'

  = render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form} 