%fieldset
  %legend Report

  = render :partial => 'works/forms/fields/title_primary', :locals => {:label => "Report Title", :form => form}

  = render :partial => 'works/forms/fields/author_name_strings'
 
  = render :partial => 'works/forms/fields/publication_date'

  = render :partial => 'works/forms/fields/publication'  
  = render :partial => 'works/forms/fields/publisher'

  - if current_user.has_role?("admin", System)
    = render :partial => 'works/forms/fields/keywords'
    
  = render :partial => 'works/forms/fields/tags'
    
  = render :partial => 'works/forms/fields/abstract', :locals => {:form => form} 

  = hidden_field_tag :type, 'Report'

  = render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form} 