%fieldset
  %legend Conference Poster

  = hidden_field_tag :klass, 'ConferencePoster'
  = render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form}

  %ul
    %li
      = render :partial => 'works/forms/fields/author_name_strings'
    %li
      = render :partial => 'works/forms/fields/contributor_name_strings'
    %li
      = render :partial => 'works/forms/fields/title_primary', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/title_secondary', :locals => {:form => form, :label => "Conference Title"}
    %li
      = render :partial => 'works/forms/fields/title_tertiary', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/date_range', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/location', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/publisher'
    %li
      = render :partial => 'works/forms/fields/publication_place', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/publication_date', :locals => {:label => "Date Presented"}
    %li
      = render :partial => 'works/forms/fields/pages', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/language', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/keywords'
    %li
      = render :partial => 'works/forms/fields/abstract', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/copyright_holder', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/sponsor', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/links', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/identifier', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/notes', :locals => {:form => form}
