= render :layout => 'works/layouts/edit_form', :locals => {:form => form, :klass => Exhibition} do
  %li
    = render 'works/forms/fields/author_name_strings'
  %li
    = render 'works/forms/fields/contributor_name_strings'
  %li
    = render 'works/forms/fields/title_primary', :form => form
  %li
    = render 'works/forms/fields/title_secondary', :form => form
  %li
    = render 'works/forms/fields/title_tertiary', :form => form
  %li
    = render 'works/forms/fields/date_range', :form => form, :label => Exhibition.human_attribute_name(:date_range)
  %li
    = render 'works/forms/fields/publisher', :label => Exhibition.human_attribute_name(:publisher)
  %li
    = render 'works/forms/fields/publication_place', :form => form, :label => Exhibition.human_attribute_name(:publication_place)
  %li
    = render 'works/forms/fields/keywords'
  %li
    = render 'works/forms/fields/abstract', :form => form
  %li
    = render 'works/forms/fields/sponsor', :form => form
  %li
    = render 'works/forms/fields/links', :form => form
  %li
    = render 'works/forms/fields/notes', :form => form
