%fieldset
  %legend Recording (Sound)

  = hidden_field_tag :klass, 'RecordingSound'
  = render 'works/forms/fields/form_buttons', :form => form

  %ul
    %li
      = render 'works/forms/fields/author_name_strings'
    %li
      = render 'works/forms/fields/contributor_name_strings'
    %li
      = render 'works/forms/fields/title_primary', :form => form
    %li
      = render 'works/forms/fields/title_secondary', :form => form
    %li
      = render 'works/forms/fields/title_tertiary', :form => form
    %li
      = render 'works/forms/fields/publication', :label => "Title of Larger Work"
    %li
      = render 'works/forms/fields/issn_isbn', :isrc => true
    %li
      = render 'works/forms/fields/publisher', :label => "Recording Label"
    %li
      = render 'works/forms/fields/publication_place', :form => form, :label => "Location"
    %li
      = render 'works/forms/fields/publication_date'
    %li
      = render 'works/forms/fields/pages', :form => form
    %li
      = render 'works/forms/fields/language', :form => form
    %li
      = render 'works/forms/fields/keywords'
    %li
      = render 'works/forms/fields/abstract', :form => form
    %li
      = render 'works/forms/fields/copyright_holder', :form => form
    %li
      = render 'works/forms/fields/sponsor', :form => form
    %li
      = render 'works/forms/fields/links', :form => form
    %li
      = render 'works/forms/fields/identifier', :form => form
    %li
      = render 'works/forms/fields/notes', :form => form
