%fieldset
  %legend Add Batch (RIS | Medline | Refworks XML)

  %p="Either upload a file containing the citations, or cut and paste the citations into the box below."
  
  %ul
    %li
      = form.label :works_file, "Upload File:"
      = form.file_field :works_file, :class=>'text'

    %li
      = form.label :works, "Or, Paste Citations:"
      = form.text_area :works 
    
= hidden_field_tag :type, 'AddBatch'
%p.buttons
  = submit_tag "Add Batch", :disable_with => "Parsing and Importing Batch..."