= render :layout => 'works/layouts/edit_form',
  :locals => {:form => form, :klass => 'DissertationThesis'} do
  %li
    = render 'works/forms/fields/author_name_strings'
  %li
    = render 'works/forms/fields/contributor_name_strings'
  %li
    = render 'works/forms/fields/title_primary', :form => form
  %li
    = render 'works/forms/fields/title_secondary', :form => form
  %li
    = render 'works/forms/fields/publisher', :label => DissertationThesis.human_attribute_name(:publisher)
  %li
    = render 'works/forms/fields/degree_level', :form => form
  %li
    = render 'works/forms/fields/discipline', :form => form
  %li
    = render 'works/forms/fields/publication_date', :label => DissertatinThesis.human_attribute_name(:publication_date)
  %li
    = render 'works/forms/fields/pages', :form => form
  %li
    = render 'works/forms/fields/language', :form => form
  %li
    = render 'works/forms/fields/keywords'
  %li
    = render 'works/forms/fields/abstract', :form => form
  %li
    = render 'works/forms/fields/copyright_holder', :form => form
  %li
    = render 'works/forms/fields/sponsor', :form => form
  %li
    = render 'works/forms/fields/links', :form => form
  %li
    = render 'works/forms/fields/notes', :form => form
