%fieldset
  %legend Presentation / Lecture

  = hidden_field_tag :klass, 'PresentationLecture'
  = render 'works/forms/fields/form_buttons', :form => form

  %ul
    %li
      = render 'works/forms/fields/author_name_strings'
    %li
      = render 'works/forms/fields/title_primary', :form => form
    %li
      = render 'works/forms/fields/title_secondary', :form => form, :label => "Title of Conference or Occasion"
    %li
      = render 'works/forms/fields/title_tertiary', :form => form
    %li
      = render 'works/forms/fields/date_range', :form => form
    %li
      = render 'works/forms/fields/location', :form => form, :label => "Location Given"
    %li
      = render 'works/forms/fields/publication_date', :label => "Date Given"
    %li
      = render 'works/forms/fields/language', :form => form
    %li
      = render 'works/forms/fields/keywords'
    %li
      = render 'works/forms/fields/abstract', :form => form
    %li
      = render 'works/forms/fields/copyright_holder', :form => form
    %li
      = render 'works/forms/fields/sponsor', :form => form
    %li
      = render 'works/forms/fields/links', :form => form
    %li
      = render 'works/forms/fields/notes', :form => form
