= render :layout => 'works/layouts/merge_form', :locals => {:form => form, :type => 'BookEdited'} do
  %tr#title_primary
    = render 'works/forms/fields/merge_title_primary', :form => form
  %tr#authors
    = render 'works/forms/fields/merge_author_name_strings'
  %tr#publication_date
    = render 'works/forms/fields/merge_publication_date'
  %tr#isbn_issn
    = render 'works/forms/fields/merge_issn_isbn'
  %tr#editors
    = render 'works/forms/fields/merge_editor_name_strings'
  %tr#pages
    = render 'works/forms/fields/merge_pages', :form => form
  %tr#publisher
    = render 'works/forms/fields/merge_publisher'
  - if current_user.has_role?("admin", System)
    %tr#keywords
      = render 'works/forms/fields/merge_keywords'
  %tr#abstract
    = render 'works/forms/fields/merge_abstract', :form => form
