%table#accepted_work.span-22
  %tr
    %td.span-8.duplicate
      %h3 Duplicate work
    %td.span-12
      %h3 Accepted work
  %tr#title_primary
    = render 'works/forms/fields/merge_title_primary', :label => "Article Title", :form => form
  %tr#authors
    = render 'works/forms/fields/merge_author_name_strings'
  %tr#publication_date
    = render 'works/forms/fields/merge_publication_date'
  %tr#publication
    = render 'works/forms/fields/merge_publication'
  %tr#publisher
    = render 'works/forms/fields/merge_publisher'
  %tr#isbn_issn
    = render 'works/forms/fields/merge_issn_isbn', :issn => true
  %tr#volume_issue
    = render 'works/forms/fields/merge_volume_issue', :form => form
  %tr#pages
    = render 'works/forms/fields/merge_pages', :form => form

  -#Only Admin can add/edit keywords
  - if current_user.has_role?("admin", System)
    %tr#keywords
      = render 'works/forms/fields/merge_keywords'
  %tr#abstract
    = render 'works/forms/fields/merge_abstract', :form => form

= hidden_field_tag :type, 'JournalArticle'
= hidden_field_tag 'return_path', '/admin/duplicates'
= render 'works/forms/fields/form_buttons', :form => form