%fieldset
  %legend Book Whole

  %ul
    %li
      = render :partial => 'works/forms/fields/title_primary', :locals => {:label => "Book Title", :form => form}
    %li
      = render :partial => 'works/forms/fields/author_name_strings'
    %li
      = render :partial => 'works/forms/fields/editor_name_strings'
    %li
      = render :partial => 'works/forms/fields/publication_date'
    %li
      = render :partial => 'works/forms/fields/issn_isbn', :locals => {:isbn => true}
    %li 
      = render :partial => 'works/forms/fields/publisher'

    - if current_user.has_role?("admin", System) 
      %li
        = render :partial => 'works/forms/fields/keywords'
    
    %li
      = render :partial => 'works/forms/fields/tags'
    %li
      = render :partial => 'works/forms/fields/abstract', :locals => {:form => form} 

= hidden_field_tag :type, 'BookWhole'
= render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form} 