= render :layout => 'works/layouts/edit_form', :locals => {:form => form, :klass => 'Grant'} do
  %li
    = render 'works/forms/fields/author_name_strings'
  %li
    = render 'works/forms/fields/contributor_name_strings'
  %li
    = render 'works/forms/fields/title_primary', :form => form
  %li
    = render 'works/forms/fields/title_secondary', :form => form
  %li
    = render 'works/forms/fields/date_range', :form => form, :label => "Dates Funded"
  %li
    = render 'works/forms/fields/publisher', :label => "Institution"
  %li
    = render 'works/forms/fields/keywords'
  %li
    = render 'works/forms/fields/abstract', :form => form
  %li
    = render 'works/forms/fields/sponsor', :form => form, :label => "Funding Agency / Sponsor"
  %li
    = render 'works/forms/fields/links', :form => form
  %li
    = render 'works/forms/fields/identifier', :form => form, :label => "Grant Identifier"
  %li
    = render 'works/forms/fields/notes', :form => form
