%fieldset
  %legend Artwork

  = hidden_field_tag :klass, 'Artwork'
  = render 'works/forms/fields/form_buttons', :form => form

  %ul
    %li
      = render 'works/forms/fields/author_name_strings'
    %li
      = render 'works/forms/fields/contributor_name_strings'
    %li
      = render 'works/forms/fields/title_primary', :label => "Title", :form => form
    %li
      = render 'works/forms/fields/title_secondary', :label => "Alternate Title", :form => form
    %li
      = render 'works/forms/fields/title_tertiary', :label => "Title Series", :form => form
    %li
      = render 'works/forms/fields/medium', :form => form
    %li
      = render 'works/forms/fields/publisher', :label => "Institution or Collection Name"
    %li
      = render 'works/forms/fields/publication_place', :form => form, :label => "Location (City)"
    %li
      = render 'works/forms/fields/publication_date', :label => "Date of Composition"
    %li
      = render 'works/forms/fields/keywords'
    %li
      = render 'works/forms/fields/abstract', :form => form
    %li
      = render 'works/forms/fields/copyright_holder', :form => form
    %li
      = render 'works/forms/fields/notes', :form => form
    %li
      = render 'works/forms/fields/links', :form => form
