%fieldset
  %legend Performance

  = hidden_field_tag :klass, 'Performance'
  = render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form}

  %ul
    %li
      = render :partial => 'works/forms/fields/author_name_strings'
    %li
      = render :partial => 'works/forms/fields/contributor_name_strings'
    %li
      = render :partial => 'works/forms/fields/title_primary', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/title_secondary', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/title_tertiary', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/date_range', :locals => {:form => form, :label => "Performance Date"}
    %li
      = render :partial => 'works/forms/fields/publication', :locals => {:label => "Title of Larger Performance"}
    %li
      = render :partial => 'works/forms/fields/publisher', :locals => {:label => "Venue"}
    %li
      = render :partial => 'works/forms/fields/publication_place', :locals => {:form => form, :label => "Location"}

    - if current_user.has_role?("admin", System)
      %li
        = render :partial => 'works/forms/fields/keywords'
    %li
      = render :partial => 'works/forms/fields/abstract', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/sponsor', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/links', :locals => {:form => form}
    %li
      = render :partial => 'works/forms/fields/notes', :locals => {:form => form}