%fieldset
  %legend Book Section

  = render :partial => 'works/forms/fields/title_primary', :locals => {:label => "Section Title (article or chapter)", :form => form}

  = render :partial => 'works/forms/fields/author_name_strings'

  = render :partial => 'works/forms/fields/publication_date'

  = render :partial => 'works/forms/fields/editor_name_strings'
  
  = render :partial => 'works/forms/fields/title_secondary', :locals => {:label => "Book Title", :form => form}

  = render :partial => 'works/forms/fields/pages', :locals => {:form => form}

  = render :partial => 'works/forms/fields/publisher'

  -#Only Admin can add/edit keywords
  - if current_user.has_role?("admin", System)
    = render :partial => 'works/forms/fields/keywords'
    
  = render :partial => 'works/forms/fields/tags'

  = render :partial => 'works/forms/fields/abstract', :locals => {:form => form} 

  = hidden_field_tag :type, 'BookSection'
  
  = render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form}