%fieldset
  %legend Journal Article

  %ul
    %li
      = render :partial => 'works/forms/fields/title_primary', :locals => {:label => "Article Title", :form => form}
    %li
      = render :partial => 'works/forms/fields/author_name_strings'
    %li
      = render :partial => 'works/forms/fields/publication_date'

    %li
      = render :partial => 'works/forms/fields/publication'
    %li
      = render :partial => 'works/forms/fields/publisher'
    %li
      = render :partial => 'works/forms/fields/issn_isbn', :locals => {:issn => true}
    %li
      = render :partial => 'works/forms/fields/volume_issue', :locals => {:form => form} 
    %li
      = render :partial => 'works/forms/fields/pages', :locals => {:form => form}

    -#Only Admin can add/edit keywords  
    - if current_user.has_role?("admin", System)
      %li
        = render :partial => 'works/forms/fields/keywords' 
    %li
      = render :partial => 'works/forms/fields/abstract', :locals => {:form => form} 

= hidden_field_tag :type, 'JournalArticle'
= render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form} 