%fieldset
  %legend Book Whole

  = render :partial => 'works/forms/fields/title_primary', :locals => {:label => "Book Title", :form => form}

  = render :partial => 'works/forms/fields/author_name_strings'

  = render :partial => 'works/forms/fields/editor_name_strings'

  = render :partial => 'works/forms/fields/publication_date'

  = render :partial => 'works/forms/fields/issn_isbn', :locals => {:isbn => true}

  = render :partial => 'works/forms/fields/publisher'

  - if current_user.has_role?("admin", System) 
    = render :partial => 'works/forms/fields/keywords'
    
  = render :partial => 'works/forms/fields/tags'

  = render :partial => 'works/forms/fields/abstract', :locals => {:form => form} 

  = hidden_field_tag :type, 'BookWhole'
  
  = render :partial => 'works/forms/fields/form_buttons', :locals => {:form => form} 