%li{ :id => "group_#{group.id}" }
  = ajax_checkbox_toggle group, @person, selected
  %strong
    %font{:size => '3'}
      =group.name
 
  -if selected != false
    - remote_form_for :membership,  Membership.find_by_person_id_and_group_id(@person.id, group.id),  :url => {:action => :update, :id => Membership.find_by_person_id_and_group_id(@person.id, group.id)}, :complete => visual_effect(:highlight, "group_#{group.id}", :duration => 0.5), :html => {:method => :put} do |form|
    
      Title
      = form.text_field :title
      
      %br/

      Year Joined:
      = form.date_select 'start_date', :start_year => 1950, :end_year => Time.now.year, :discard_month => true, :include_blank => true
      Year Left:
      = form.date_select 'end_date', :start_year => 1950, :end_year => Time.now.year, :discard_month => true, :include_blank => true 
      = submit_tag :save