/ === Sessions === New ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    = render :partial => "shared/flash_messages"
    %h2 Login
    %fieldset
      - form_tag sessions_path do
        %p
          %label="Username"
          %br/
          = text_field_tag 'login'
        %p
          %label="Password"
          %br/
          = password_field_tag 'password'
        %p
          = check_box_tag 'remember_me'
          %label="Remember Me"
          ="(requires browser cookies be enabled)"
        %p
          =link_to "Forgot Password", new_password_path
          |
          =link_to "Sign Up", signup_path  
        %p.submit
          = submit_tag 'Log in'