-# OpenURL ContextObject KEV (Key/Encoded-Value) syntax
-#   Used in the EPrints Application Profile's 'bibliographicCitation' field
-#   See: http://www.ukoln.ac.uk/repositories/digirep/index/Eprints_Application_Profile
-#   Also: http://dublincore.org/documents/dc-citation-guidelines/

%epdcx:valueString{ 'epdcx:sesURI'=>"info:ofi/fmt:kev:mtx:ctx" }
  - case citation.class.to_s
    -# OpenURL ContextObject for Journal Article
    - when "JournalArticle"
      = h(URI.escape("&ctx_ver=Z39.88-2004" |
        "&rft_val_fmt=info:ofi/fmt:kev:mtx:journal" |
        "&rft.genre=article" |
        "&rft.atitle=#{citation.title_primary}" |
        "&rft.jtitle=#{citation.publication.authority.name}" |
        "&rft.volume=#{citation.volume}" |
        "&rft.issue=#{citation.issue}" |
        "&rft.spage=#{citation.start_page}" |
        "&rft.date=#{citation.publication_date.year}" |
        "&rft.issn=#{citation.publication.authority.issn_isbn}" |
        "&rft.aulast=#{citation.name_strings[0].last_name}" |
        )) |
    -# OpenURL ContextObject for Conference Proceeding   
    - when "ConferenceProceeding"
      = h(URI.escape("&ctx_ver=Z39.88-2004" |
        "&rft_val_fmt=info:ofi/fmt:kev:mtx:journal" |
        "&rft.genre=proceeding" |
        "&rft.atitle=#{citation.title_primary}" |
        "&rft.jtitle=#{citation.publication.authority.name}" |
        "&rft.volume=#{citation.volume}" |
        "&rft.issue=#{citation.issue}" |
        "&rft.spage=#{citation.start_page}" |
        "&rft.date=#{citation.publication_date.year}" |
        "&rft.issn=#{citation.publication.authority.issn_isbn}" |
        "&rft.aulast=#{citation.name_strings[0].last_name}" |
        )) |
    -# OpenURL ContextObject for Book    
    - when "BookWhole", "BookEdited"
      = h(URI.escape("&ctx_ver=Z39.88-2004" |
        "&rft_val_fmt=info:ofi/fmt:kev:mtx:book" |
        "&rft.genre=book" |
        "&rft.btitle=#{citation.title_primary}" |
        "&rft.date=#{citation.publication_date.year}" |
        "&rft.isbn=#{citation.publication.authority.issn_isbn}" |
        "&rft.aulast=#{citation.name_strings[0].last_name}" |
        )) |                      