Ref type <br>	
  = form.text_field :reftype_id, :size => 15 
<br>
Authors	<br>
  = form.text_field :authors, :size => 15
<br>
Affiliations <br>
  = form.text_field :affiliations, :size => 30
<br>
Title Primary <br>
  = form.text_field :title_primary, :size => 30
<br>
Title Secondary <br>
  = form.text_field :title_secondary, :size => 30
<br>
Title Tertiary <br>
  = form.text_field :title_tertiary, :size => 30
<br>
Keywords <br>
  = form.text_field :keywords, :size => 30
<br>
Pub Year <br>
  = form.text_field :pub_year, :size => 30
<br>
Periodical Full <br>
  = form.text_field :periodical_full, :size => 30
<br>
Periodical Abbrev <br>
  = form.text_field :periodical_abbrev, :size => 30
<br>
Volume <br>
  = form.text_field :volume, :size => 30
<br>
Issue <br>
  = form.text_field :issue, :size => 30
<br>
Start Page <br>
  = form.text_field :start_page, :size => 30
<br>
End Page <br>
  = form.text_field :end_page, :size => 30
<br>
Edition <br>
  = form.text_field :edition, :size => 30
<br>
Publisher <br>
  = form.text_field :publisher, :size => 30
<br>
Place of Publication <br>
  = form.text_field :place_of_publication, :size => 30
<br>
issn isbn <br>
  = form.text_field :issn_isbn, :size => 30
<br>
Author Address Affiliations <br>
  = form.text_field :author_address_affiliations, :size => 30
<br>
Accession Number <br>
  = form.text_field :accession_number, :size => 30
<br>
Language <br>
  = form.text_field :language, :size => 30
<br>
Classification <br>
  = form.text_field :classification, :size => 30
<br>
Subfile Database <br>
  = form.text_field :subfile_database, :size => 30
<br>
Original Foreign Title <br>
  = form.text_field :original_foreign_title, :size => 30
<br>
Links <br>
  = form.text_field :links, :size => 30
<br>
Doi <br>
  = form.text_field :doi, :size => 30
<br>
Abstract <br>
  = form.text_area :abstract
<br>
Notes <br>
  = form.text_area :notes
<br>
Folder <br>
  = form.text_field :folder, :size => 30
<br>
= form.hidden_field :id
= submit_tag "Edit"