#sidebar
  = render :partial => "people/vcard", :locals => { :person => @person }

#content
  %h2 Archiving Policy Analysis
    %h3= "#{link_to(@person.display_name, :controller => "people", :action => "show", :id => @person.id)}" 

    %table.legend
      %thead
        %tr
          %td{ :align => "center" } # Articles
          %td{ :align => "center" } RoMEO color
          %td{ :align => "center" } Archiving policy
      %tfoot
        %tr
          %td{ :align => "center" }= @total
          %td{ :align => "center" } Total
          %td &nbsp;
      %tbody
        %tr.green
          %td{ :align => "center" }= @green
          %td{ :align => "center" } Green
          %td Can archive pre-print and post-print
        %tr.blue
          %td{ :align => "center" }= @blue
          %td{ :align => "center" } Blue
          %td Can archive post-print (ie final draft post-refereeing)
        %tr.yellow
          %td{ :align => "center" }= @yellow
          %td{ :align => "center" } Yellow
          %td Can archive pre-print (ie pre-refereeing)
        %tr.white
          %td{ :align => "center" }= @white
          %td{ :align => "center" } White
          %td Archiving not formally supported
        %tr.unknown
          %td{ :align => "center" }= @unknown
          %td{ :align => "center" } Unknown
          %td Could not determine from data

    %table.results
      %thead
        %tr
          %td{ :align => "center" } # Articles
          %td{ :align => "center" } Publication
          %td{ :align => "center" } ISSN
          %td{ :align => "center" } Publisher
      %tbody
        - @journals.each do |ref|
          %tr{ :class => ref.romeo_color }
            %td{ :align => "center" }= ref.count
            %td= ref.periodical_full 
            %td= ref.issn_isbn
            %td= link_to(ref.publisher, "http://www.sherpa.ac.uk/romeo.php?all=yes##{ref.sherpa_id}") if ref.publisher
            
    #detailed-analysis
      %h2 Archiving details
      - @person.sherpa_publishers.each do |pub|
        %div.publisher
          -if pub.publisher_name?
            %h3{:class => "publisher #{pub.romeo_color}"}
              ="#{pub.publisher_name}: #{pub.count}"
            -@person.sherpa_publications.each do |publ|
              -if publ.publisher_name == pub.publisher_name
                %h4.journal="#{publ.publication_name}: #{publ.count}"
                -@person.citations.each do |c|
                  -if c.publication
                    -if c.publication.name == publ.publication_name
                      %ol.citations
                        %li.nlm-citation=format_citation_apa_to_html(c)
      - if @unknown > 0
        %div.publisher
          %h3.publisher.unknown="Unknown: #{@unknown}"
          %ol.citations
            -@person.citations.each do |c|
              -if !c.publication
                %li.nlm-citation=format_citation_apa_to_html(c)
      = image_tag("/images/romeosmall.jpg")
    