%div{:class => "column span-24"}
  %div{:class => "column span-12"}
    %h2
      ="Citations (#{@citations.total_entries}) - #{link_to "Add", new_citation_path}"
    = will_paginate @citations
    %ul.citations
      - @citations.each do |citation|
        = render :partial => "shared/citation", :locals => { :citation => citation }
  
  %div{:class => "column span-8 prepend-2 last"}
    %h3=link_to "Groups", groups_url
    %ol.groups
      -@groups.each do |group|
        %li
          =link_to group.name, group_path(group)
          = "(#{group.count})"

    %h3=link_to "People", people_url
    %ol.people
      -@people.each do |person|
        %li
          =link_to "#{person.last_name}, #{person.first_name}", person_path(person)
          = "(#{person.count})"
    %hr/      
    %h3=link_to "Publications", publications_url
    %ol.publications
      -@publications.each do |publication|
        %li
          =link_to publication.name, publication_path(publication)
          = "(#{publication.count})"
      
