/ === Citations === Index ===
/ Main
%div{:class => "column span-24"}

  / If they want to see *everything*, let them see it!
  / params[:view] = "all"
  - if @view == "all"
    %div{:class => "span-22 prepend-1"}
      %ul.actions
        %li=link_to "Add a Citation", new_citation_path
      - if flash[:notice]
        %div.success= flash[:notice]
      
      %h2="Citations"
      %div#results{:class => "span-22"}
        / Facets
        = render :partial => "shared/facets"

        / Citations 
        = render :partial => "shared/citations"
  - else
    %div{:class => "span-22 prepend-1"}
      - if flash[:notice]
        %div.success= flash[:notice]
      %h2 
        At the library, we
        %span{:style => "color:#990000;"} &hearts; 
        our researchers.
      %div{:class => "span-23", :style => "padding:0em; margin:0em;"}
        / People
        %div{:class => "span-15", :style => "padding:0em; margin:0em;"}
          %h3.heading=link_to "People", people_url
          %ol.people{:style => "padding:0em;margin:0em;"}
            -@facets[:person_id].each do |p|
              - person = object_by_facet_id(p.name)
              %li.inline{:style => "margin:0; padding:0;"}
                %div{:class => "span-3", :style => "padding:0em; margin:0em;"}
                  = link_to(image_tag(person.image_url, :size => "75x100", :alt => person.name, :title => person.name, :style => "border:2px dashed #CCC; padding:3px;"), person_path(person))
                  %div{:style => "width:3em; padding:0.25em; margin:0em; background-color:#fff; position:relative; right:0em; bottom:2em; text-align:center;"}
                    %strong= p.value
                    %h7{:style => "padding-right:0.5em;"}=link_to person.last_name, person_path(person)

        / Citations
        %div{:class => "span-7", :style => "padding-left:0.75em; margin-bottom:2em;"}
          %h3.heading
            =link_to "Citations", citations_url(:view => "all")
          %ol{:class => "span-7 citations", :style => "clear:both;"}
            - @docs.first(3).each do |citation, score|
              = render :partial => "shared/citation", :locals => {:citation => citation, :score => score}

      %div{:class => "span-22", :style => "padding:0em; margin:0em;"}
        / Groups
        %div{:class => "span-6"}
          %h3.heading=link_to "Groups", groups_url
          %ol.groups.filters
            -@facets[:group_id].each do |g|
              - group = object_by_facet_id(g.name)
              %li
                =link_to group.name, group_path(group)
                ="(#{g.value})"
            %li=link_to "More...", groups_path

        / Publications
        %div{:class => "span-7 prepend-1 append-1"}
          %h3.heading=link_to "Publications", publications_url
          %ol.publications.filters
            -@facets[:publication_id].each do |p|
              - publication = object_by_facet_id(p.name)
              %li
                =link_to publication.name, publication_path(publication)
                ="(#{p.value})"
            %li=link_to "More...", publications_path

        / Publishers
        %div{:class => "span-6 last"}
          %h3.heading=link_to "Publishers", publishers_url
          %ol.publishers.filters
            -@facets[:publisher_id].each do |p|
              - publisher = object_by_facet_id(p.name)
              %li
                =link_to publisher.name, publisher_path(publisher)
                ="(#{p.value})"
            %li=link_to "More...", publishers_path