#sidebar
  = render :partial => "people/vcard", :locals => { :person => @person }

#content
  %h2
    = link_to "#{@person.display_name}'s", person_path(person.to_param)
    = @citations.size
    citations on 
    = params[:tag]
  %ol.citations
    - @citations.each do |citation|
      = render :partial => "shared/citation", :locals => { :citation => citation }
