/ === Citations === Show ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    - if logged_in? && current_user.has_role?("editor", @citation)
      %ul#edit-actions
        %li= link_to "Edit", edit_citation_path
        - if !CitationArchiveState.archived?(@citation)
          %li= link_to "Archive Research", new_citation_attachment_path(@citation)

      - if flash[:notice]
        %div.success= flash[:notice]

    %h2.clear-both= @citation.title_primary
    %div{:class => "span-12"}
    
      -if (File.exist?("#{RAILS_ROOT}/app/views/citations/apa/_#{@citation.class.name.to_s.underscore}.html.haml") || File.exist?("#{RAILS_ROOT}/app/views/citations/apa/_#{@citation.class.name.to_s.underscore}.html"))
        %h4="APA Format: #{@citation.class.name.to_s.underscore.humanize}"
        %span= render :partial => "citations/apa/#{@citation.class.name.to_s.underscore}", :locals => { :c => @citation }
      -else
        %h4="APA Format: Generic"
        %span= render :partial => "citations/apa/generic", :locals => { :c => @citation }
      .links
        =link_to_findit(@citation)
      %br/

      %div{:class => "span-12"}
        %h3="#{$UNIVERSITY_SHORT_NAME} Authors"
        %ol.people
          -@citation.people.each do |person|
            %li.inline{:style => "margin:0; padding:0;"}
              %div{:class => "span-3"}
                = link_to(image_tag(person.image_url, :size => "75x100", :alt => person.name, :title => person.name, :style => "border:2px dashed #CCC; padding:3px;"), person_path(person))
                %div{:style => "width:3em; padding:0.25em; margin:0em; background-color:#fff; position:relative; right:0em; bottom:2em; text-align:center;"}
                  %strong= person.citations.size
                  %h7{:style => "padding-right:0.5em;"}=link_to person.last_name, person_path(person)
      %div.clear-both
        %fieldset
          %legend Citation Information
          - if @citation.name_strings.author.size > 0
            %div.field
              %label Authors:
              %span.field_value
                - @citation.name_strings.author.each do |ns|
                  =link_to "#{ns.name}", name_string_path(ns)
          - if @citation.name_strings.editor.size > 0
            %div.field
              %label Editors:
              %span.field_value
                - @citation.name_strings.editor.each do |ns|
                  =link_to "#{ns.name}", name_string_path(ns)
          - if @citation.publication_date?
            %div.field
              %label Publication Date:
              %span.field_value=@citation.publication_date
          %div.field
            %label Publication Type:
            %span.field_value=@citation.type 
          - if @citation.publication_id? and @citation.publication.name?
            %div.field
              %label Publication Source:
              %span.field_value
                =link_to @citation.publication.name, publication_path(@citation.publication)
          - if @citation.publisher_id? and @citation.publisher.name?
            %div.field
              %label Publisher:
              %span.field_value
                =link_to @citation.publisher.name, publisher_path(@citation.publisher)
          - if @citation.volume?
            %div.field
              %label Volume:
              %span.field_value=@citation.volume
          - if @citation.issue?
            %div.field
              %label Issue:
              %span.field_value=@citation.issue
          - if @citation.start_page?
            %div.field
              %label Page(s):
              %span.field_value
                =@citation.start_page
                -if @citation.end_page?
                  =" - #{@citation.end_page}"                   

      - if !@citation.attachments.nil? and !@citation.attachments.empty?               
        = render :partial => 'attachments', :locals => { :files => @citation.attachments }
      
        / Admin
        = render :partial => 'admin'

    %div{:class => "span-7 prepend-2 last"}
      %div.highlight
        %h3="Related #{$UNIVERSITY_SHORT_NAME} Articles"
        %ul.recommendations
          - @recommendations.each do |rec, score|
            %li{:style => "padding-bottom:0.5em"}
              =link_to rec.title_primary.titleize, citation_path(rec)
              %p.metadata
                ="#{rec.publication.authority.name} |" 
                -if rec.publication_date
                  ="#{rec.publication_date.year}"