#sidebar
  %h3 Citation formats:
  %ul
    %li RefWorks XML
    %li RIS
    %li MEDLINE tagged
    %li BibTeX

%h3
  = "Citations to collect: #{@count.size}"
%h4
  =@person.display_name
  = link_to("view", :controller => :people, :action => :show, :id => @person.id)
%p
  = link_to(@citation.title, @citation.link)
- form_for :authorship, :url => {:controller => :authorships, :action => :create_from_ris} do |form|
  %p Copy/Paste
  = form.hidden_field :person_id, :value => @person.id
  = form.hidden_field :feed_id, :value => @citation.id
  = form.text_area(:ris)
  %br
  = form.file_field(:file)
  %br
  = submit_tag("Save it!")