%li= link_to t('.edit'), edit_person_path(@person)
%li= link_to t('people.admin_actions.add'), new_user_import_path(current_user, {:person_id => @person})
%li= link_to t('people.admin_actions.manage_contributorships'), contributorships_url(:person_id => @person.id)
%li= link_to t('people.admin_actions.manage_roles'), person_roles_path(@person)
%li= link_to t('people.admin_actions.archive'), archivable_contributorships_path(:person_id => @person.id)
