%strong
  #{t 'app.edit'}:
= link_to t('.personal_info'), edit_person_path(@person)
|
= link_to Contributorship.model_name.human_pl, contributorships_url(:person_id => @person.id)
|
= link_to Group.model_name.human_pl, new_memberships_url(:person_id => @person.id)
|
= link_to PenName.model_name.human_pl, new_pen_names_url(:person_id => @person.id)