%fieldset
  %legend="Personal Info"
  - form_for @person do |form|
    %p
      %label="First Name"
      = form.text_field :first_name
    %p
      %label="Middle Name"
      = form.text_field :middle_name
    %p
      %label="Last Name"
      = form.text_field :last_name
    %p
      %label="Prefix"
      = form.text_field :prefix
    %p
      %label="Suffix"
      = form.text_field :suffix
    %p
      %label="Image URL"
      = form.text_field :image_url
    %p
      %label="Phone"
      = form.text_field :phone
    %p
      %label="Email"
      = form.text_field :email
    %p
      %label="IM"
      = form.text_field :im
    %p
      %label="Office Address Line One"
      = form.text_field :office_address_line_one
    %p
      %label="Office Address Line Two"
      = form.text_field :office_address_line_two
    %p
      %label="Office City"
      = form.text_field :office_city
    %p
      %label="Office State"
      = form.text_field :office_state
    %p
      %label="Office Zip"
      = form.text_field :office_zip
    %p
      %label="Research Focus"
      = form.text_area :research_focus
    %p.submit
      = submit_tag :save