.form_line
  First 
  = form.text_field :first_name, :size => 15
  Middle 
  = form.text_field :middle_name, :size => 2
  Last 
  = form.text_field :last_name, :size => 15
.form_line
  Address 1
  = form.text_field :officeaddr_line1
.form_line
  Address 2
  = form.text_field :officeaddr_line2
.form_line
  City
  = form.text_field :office_city
  ST
  = form.text_field :office_state, :size => 2
  ZIP
  = form.text_field :office_zip, :size => 9
.form_line
  Phone
  = form.text_field :office_phone, :size => 14
.form_line
  Email
  = form.text_field :email_address
.form_line
  Picture URL
  = form.text_field :image_url
= form.hidden_field :external_id
= submit_tag "Save"