%fieldset#personal_info
  %legend #{t 'app.personal_info'}
  = form_for @person do |form|
    %div
      = submit_tag t('app.save'), :disable_with => t('.disable'), :class => "button positive"
      = submit_tag t('app.cancel'), :name => "cancel", :class => "button negative"
    .span-10
      %div
        %label #{Person.human_attribute_name(:uid)}*
        = form.text_field :uid
        = error_for "person", "uid"
      %div
        %label #{Person.human_attribute_name(:first_name)}
        = form.text_field :first_name
      %div
        %label #{Person.human_attribute_name(:middle_name)}
        = form.text_field :middle_name
      %div
        %label #{Person.human_attribute_name(:last_name)}
        = form.text_field :last_name
      %div
        %label #{Person.human_attribute_name(:suffix)}
        = form.text_field :suffix
      %div
        %label #{Person.human_attribute_name(:display_name)}
        = form.text_field :display_name
      %div
        %label #{Person.human_attribute_name(:email)}
        = form.text_field :email
      %div
        %label #{Person.human_attribute_name(:im)}
        = form.text_field :im
      %div
        %label #{Person.human_attribute_name(:phone)}
        = form.text_field :phone
      %div
        %label #{Person.human_attribute_name(:postal_address)}
        = form.text_area :postal_address, :class => "smallbox"
      -unless @person.new_record?
        %div
          %label #{Person.human_attribute_name(:active)}?
          = form.check_box :active, :class => "checkbox"
    %div
      %label.lar #{Person.human_attribute_name(:research_focus)}
      = form.text_area :research_focus
