%table#people
  %tr
    %th.span-1
    %th.span-6 #{t 'app.name'}
    %th.span-12 #{t '.recent_publication'}
    %th.span-1.last #{Work.human_name_pl}
  -@current_objects.each do |person|
    %tr{:class => cycle("odd", "even")}
      %td.person-image #{link_to image_tag(person.image_url, :size => "50x66"), person_path(person)}
      %td #{link_to "#{person.display_name}", person_path(person)}
      - if person.works.length > 0
        %td #{link_to person.works.first.to_s, work_path(person.works.first)}
      - else
        %td
      %td.text-right #{person.works.verified.length}