.vcard
  %h3.fn
    = person_name_link current_page?(person_path(person)), person
    - if @current_user != :false and !current_page?(edit_person_path(person))
      %span.admin
        = link_to ("Edit", edit_person_path(person))
  = image_tag(person.image_url, :height => "160px", :alt =>" #{person.display_name}", :class => "photo")
  #vcard-metadata
    .org
      - person.memberships.each do |m|
        = link_to m.group.name, group_path(m.group.to_param)
        = m.title
        %br/
    .adr
      %span.type.hide Work
      %span.extended-address= person.officeaddr_line2.titleize
      
      %br/
      %span.street-address= person.officeaddr_line1.titleize
      
      %br/
      %span.locality= person.office_city.titleize
      %span.region WI
      %span.country-name.hide USA
      %span.postal-code= person.office_zip
    %p
      = "Phone:" 
      %span.tel
        %span.type.hide Work:
        %span.value= person.office_phone
    %p 
      = "Email:"
      = mail_to person.email_address.downcase, person.email_address.downcase
    %p.vcard-download
      = link_to(image_tag("/images/vcf.gif"), @vcard)
      = link_to("Add to Address Book", @vcard)