/ === People === Edit ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    = render :partial => "shared/flash_messages"
      
    %p.person-edit-actions
      = render :partial => "edit_actions"
  %div{:class => "span-22 prepend-1"}
    %h2="Edit #{link_to @person.name, person_path(@person)}"
    %div{:class => "span-4"}
      = render :partial => "shared/person_image", :locals => {:o => @person}
      -if @person.image
        = link_to "change", edit_person_attachment_path(@person, @person.image)
        |
        = link_to "delete", {:controller => "attachments", :action => "destroy", :id => @person.image.id}, :method => :delete
      -else  
        = link_to "upload image", new_person_attachment_path(@person), :params => {"type" => "Image"}
    
    = render :partial => 'form'
