- if current_user_role?("admin", @person)
  = render :layout => 'layouts/admin_bar' do
    %li= link_to t('people.edit.delete'), person_url(@person), :method => :delete, :confirm => t('people.edit.confirm')
    %li= link_to t('people.edit.add'), new_person_path

= render :layout => 'layouts/main_body', :locals => {:header => edit_header(@person)} do
  = render "shared/local_nav", :object => "person", :state => "edit"

  = render 'form'
