- if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li #{link_to t('people.index.add'), new_person_path}

= render :layout => 'layouts/main_body_no_h2' do
  / ### Group / People ###
  - if params[:group_id]
    - show_all = true
    %h2= @group.name
    = render "shared/local_nav", :object => "group"
    = render "shared/alpha_pagination", :path => group_people_path(@group.id), :all => true
  - else
    %h2 #{Person.model_name.human_pl}
    = render "shared/alpha_pagination"

  = render 'people_table'

  %br/
  %br/
  = render "shared/alpha_pagination"
