#content 
  %h2 Add a person
  
  - form_tag( {:action => :new}, {:method => :get} ) do
    %p
      Search LDAP directory (to pre-populate person information):
    %p
      = text_field_tag :q, params[:q]
      = submit_tag "Search"
    
  - if @ldap_results
    %ul#ldap_results
      - @ldap_results.each_with_index do |l, i|
        - # I don't know why :collection doesn't work here
        = render :partial => "ldap_result", :object => l, :locals => {:i => i}
    %script{ :type => "text/javascript" }
      - update_page do |p|
        = p.assign "ldap_results", @ldap_results
        
  = render :partial => 'form'
  