/ === People === Show ===
/ Main
- include_stylesheet('specific/people/show')
- @title = @person.display_name # Specify text at end of HTML <title> tag

- if logged_in? && current_user.has_role?("editor", @person)
  = render :partial => "admin_actions", :layout => "layouts/admin_bar"

/ ### Main ###
.span-24
  .span-22.prepend-1
    %h2
      #{link_to(h(@person.display_name), person_path(@person)).html_safe}
      =link_to(image_tag("feed-icon-14x14.png"), person_path(@person, :format => "rss"))

    = render :partial => "shared/local_nav", :locals => {:object => "person"}

  / ## Content ###
  .span-15.prepend-1

    #image.span-4
      =image_tag(@person.image_url, :class => "person-image", :size => "125x166")
      / ### Hide email for inactive people ###
      - if @person.active?
        =mail_to(@person.email, "Email", :replace_at => "_at_", :replace_dot => "_dot_", :class => "email")

    .span-10
      - if @person.groups.empty?
        &nbsp;
      - else
        %h3.heading Groups
        = render :partial => 'shared/group_list'
      / ### Hide research focus for inactive people ###
    - if @person.active? and @person.research_focus.present? and @person.research_focus.strip.length > 0
      #research-focus.span-14
        %h3.heading Research Focus
        %p #{@person.research_focus}


    - if @works.size > 0
      #works.span-14
        %h3.heading
          = link_to "Works", person_works_path(@person)
          &ndash; recent additions
        %ol.works
          - @works.first(3).each do |work|
            = render :partial => "shared/work", :locals => {:work => work}

  / ### Sidebar ###
  .span-7.last
    - if @facets[:people_data].size > 1
      .span-7.right_box_no_border
        = render :partial => "shared/coauthors"

    .span-7.right_box_no_border
      %h3 Types of Work
      %div.text-center
        %img.chart-image{:src => @chart_url}

    = render :partial => "shared/keyword_cloud", :locals => {:keywords => @keywords}

    / Publications
    %div.span-7.right_box_no_border
      = render :partial => "shared/publications", :locals => {:count => 10}
