/ === People === Show ===
/ Main
- @title = @person.first_last # Specify text at end of HTML <title> tag

/ #### Admin Actions ###
%div#admin-actions.span-24
  - if logged_in? && current_user.has_role?("editor", @person)
    = render :partial => "admin_actions"

/ ### Main ###
%div.span-24
  %div.span-22.prepend-1

    %div.span-5
      =image_tag(@person.image_url, :style => "border:2px dashed #CCC; padding:0.5em; margin:1em 0 0 0;", :size => "150x200")

      %div.memberships{:style => "margin-top:1em"}
        - if !@person.memberships.empty?
          %h4 Group Memberships
          %ul
            - @person.memberships.each do |m|
              -if !m.group.hide?
                %li=link_to m.group.name, group_path(m.group)

      %div.coauthors{:style => "margin-top:1em"}
        = render :partial => "shared/coauthors_table"

    %div.span-17.last
      %h2
        ="#{link_to @person.first_last, person_path(@person)}"
      = render :partial => "shared/local_nav", :locals => {:object => "person"}
        
      %div.span-9.append-1
        - if @research_focus.strip.length > 0
          %h3 Research Focus
          #research_focus=@research_focus

      %div.span-7.last
        %h3.heading
          =link_to "Recent Works", person_works_path(@person)
          =link_to(image_tag("feed-icon-14x14.png"), person_path(@person, :format => "rss")) 
        %ol#works{:class => "works"}
          - @works.first(3).each do |work|
            = render :partial => "shared/work", :locals => {:work => work}