/ === People === Show ===
/ Main
- @title = @person.display_name # Specify text at end of HTML <title> tag

- if logged_in? && current_user.has_role?("editor", @name_string)
  - content_for :admin_bar do
    / #### Admin Actions ###
    %div.span-24#admin-actions
      = render :partial => "admin_actions"

/ ### Main ###
%div.span-24
  %div.span-22.prepend-1
    %h2
      ="#{link_to @person.display_name, person_path(@person)}"
      =link_to(image_tag("feed-icon-14x14.png"), person_path(@person, :format => "rss"))
    
    = render :partial => "shared/local_nav", :locals => {:object => "person"}

    %div#image.span-4
      =image_tag(@person.image_url, :class => "person-image", :width => "125")

    %div.span-11
      - unless @person.groups.empty?
        %h3 Groups
        = render :partial => 'shared/group_list'
                
      - if @research_focus.strip.length > 0
        %div#research-focus.span-10
          %h3 Research Focus
          %p=@research_focus
    
    - if @facets[:people_data].size > 1
      %div.span-7.last
        = render :partial => "shared/coauthors"

  %div.span-22.prepend-1{:style => "padding-top:2em;"}
    - if @works.size > 0
      %div#works.span-14.append-1
        %h3.heading
          =link_to "Works", person_works_path(@person)
          &ndash; recent additions
        %ol.works
          - @works.first(3).each do |work|
            = render :partial => "shared/work", :locals => {:work => work}
            
      / Publications
      %div.span-7.last
        = render :partial => "shared/publications", :locals => {:count => 10}