%div{:class => "span-24"}
  %p.edit_person_actions
    %strong
      Edit: 
    = link_to @person.first_last, edit_person_path
    | 
    = link_to "Groups", {:controller => "memberships", :action => "new", :params => {"person_id", @person.id}}
    | 
    = link_to "Pen Names", {:controller => "pen_names", :action => "new", :params => {"person_id", @person.id}}
  %div{:class => "span-8"}
    %h2="#{@person.first_last}"
    = render :partial => "shared/vcard", :locals => {:o => @person}
  %div{:class => "span-6 last"}
    %h3="Groups (#{@person.groups.size})"
    %ol.groups_alphabetical
      - @person.groups.each do |g|
        %li=link_to "#{g.name}", group_path(g)

    %h3="Pen Names (#{@person.name_strings.size})"
    %ol.name_strings_alphabetical
      - @person.name_strings.each do |ns|
        %li=link_to "#{ns.name}", name_string_path(ns)
        
  %div{:class => "column span-16"}
    %h3
      Citations (
      %span#contributorship_total_entries
        = @contributorships.total_entries
      )
      = link_to 'Add', new_citation_path

    = will_paginate @contributorships
    = render :partial => 'contributorships/contributorships'
