- include_stylesheet('specific/people/show')
- @title = @person.display_name # Specify text at end of HTML <title> tag

- if current_user_role?("editor", @person)
  = render :partial => "admin_actions", :layout => "layouts/admin_bar"

/ ### Main ###
= render :layout => 'layouts/main_body', :locals => {:header => show_header(@person)} do

  = render "shared/local_nav", :object => "person"

/ ## Content ###
.span-15.prepend-1

  #image.span-4
    = render 'show_image'

  .span-10
    = render 'show_groups'

    / ### Hide research focus for inactive people ###
  - if @person.active? and @person.research_focus.present? and @person.research_focus.strip.length > 0
    #research-focus.span-14
      = render 'show_research_focus'


  - if @works.size > 0
    #works.span-14
      = render 'show_works'

/ ### Sidebar ###
.span-7.last
  - if @facets[:people_data].size > 1
    = render :partial => "shared/coauthors", :layout => 'layouts/right_box_no_border'
  = render :partial => 'show_work_types', :layout => 'layouts/right_box_no_border'
  = render :partial => "shared/keyword_cloud", :layout => 'layouts/right_box_no_border', :locals => {:keywords => @keywords, :id => 'tagcloud'}
  = render :partial => "shared/publications", :layout=> 'layouts/right_box_no_border', :locals => {:count => 10}
