#sidebar
  #piechart
    %h3 Citation Types
    %canvas#mygraph{:width => "325", :height => "325"}
  %h3 Popular research topics:
  %ol#tags.popular
    = render :partial => "tags"
  %h3 Popular publications:
  %ol#publications.popular
    = render :partial => "publications"
  %h3 Popular publishers:
  %ol#publishers.popular
    = render :partial => "publishers"
#content
  #person
    = render :partial => "vcard", :locals => { :person => @person }
  #coauthorships
    = render :partial => "coauthors"
  #work
    %h3 Recent Citations
      %span.meta
        = link_to("Archiving Policy Analysis", :controller => "citations", :action => "copyright_analysis", :id => @person.id)
        |
        = link_to "Recent articles RSS", {:controller => "rss", :action => "person", :id => @person.id}, {:class => "feed"}
    %ol.citations
      = render :partial => "shared/citation", :collection => @person.recent_citations
= render :partial => "graph"