= form_tag advanced_search_path, :method => :get do

  %fieldset.span-17.prepend-2
    %legend Advanced Search

    = render 'generic_form_field', :field => :keywords, :text => "Return items with these words appearing anywhere"
    = render 'generic_form_field', :field => :title, :text => 'Return items with these words in the title'
    = render 'generic_form_field', :field => :authors, :text => 'Return items by author'
    = render 'generic_form_field', :field => :groups, :text => 'Return items by groups'
    = render 'generic_form_field', :field => :issn_isbn, :text => 'Return item associated with the standard number',
      :label => 'ISSN or ISBN'

    %div.span-17
      .span-8
        %label.span-4 Year
        %p Return only items published from
      = text_field_tag(:start_date, nil, :size => 4)
      &nbsp; to &nbsp;
      = text_field_tag(:end_date, nil, :size => 4)
      %p= search_example(:year)

    %div.span-17
      .span-8
        &nbsp;
      = submit_tag 'Search'