#sidebar
  %h3 Groups
  %ol#groups.popular
    - @group_results.each do |row|
      %li
        = row.papers
        = link_to "#{row.name}", group_path(row.to_param)

%h2= "Our experts on: #{@query}"

- if @people_results.empty?
  %p Sorry, no data yet.
-else
  %ol#results
    - @people_results.each do |row|
      = render :partial => "expert", :locals => {:row => row}