- if @q
  %h3
    %em="#{@q.total_hits}"
    =" Results for:"
    %strong=" #{@query}"
  -if !@spelling_suggestions.empty?
    Did you mean:
    %ul#spelling-suggestions
      - @spelling_suggestions.each do |suggestion|
        %li
          %em=link_to suggestion, {:controller => "search", :q => suggestion }
      
  - if !@filter.empty?
    %h4
      ="Remove Filters: "
      - @filter.each do |f|
        =remove_filter(@query,@filter,f)

  %div{:class => "column span-24"}
    %div{:class => "column span-12"}
      %h4 Citations
      %ol.results
        - @docs.each do |doc, score|
          %li
            =link_to "#{doc.title_primary}", citation_path(doc)
            %p 
              %strong NameStings:
              - doc.name_strings.each do |ns|
                =link_to "#{ns.name}", name_string_path(ns)
              %br/
              %strong Source:
              =link_to "#{doc.publication.authority.name}", publication_path(doc.publication.authority.to_param)
              = "#{doc.volume}(#{doc.issue}), #{doc.start_page}-#{doc.end_page}."
              %br/
              %strong Year:
              ="#{doc.year}"
              %br/
              %strong Rank:
              ="#{score}"

    %div{:class => "span-12 last"}
      #facets{:class => "column span-12 last"}
      - @facets.each do |facet, results|
        %div{:class => "column span-11"}
          %h4=facet.capitalize
          %ul{:class => "#{facet}-facets"}
            - results.each do |r|
              %li
                =add_filter(@query,@filter,facet,r.name,r.value)

- else
  %p Search form here.