- if @q
  %h3
    %em="#{@q.total_hits}"
    =" Results for:"
    %strong=" #{@query}"
  - if !@filter.empty?
    %h4
      ="Remove Filters: "
      - @filter.each do |f|
        =remove_filter(@query,@filter,f)

  %div{:class => "column span-24"}
    %div{:class => "column span-12"}
      %h4="Citations (#{@docs.size})"
      %ol.results
        - @docs.each do |doc, score|
          %li
            =link_to "#{doc.title_primary}", citation_path(doc)
            %p 
              %strong Authors:
              - doc.authors.each do |au|
                =link_to "#{au.name}", author_path(au)
              %br/
              %strong Source:
              =link_to "#{doc.publication.authority.name}", publication_path(doc.publication.authority.to_param)
              = "#{doc.volume}(#{doc.issue}), #{doc.start_page}-#{doc.end_page}."
              %br/
              %strong Year:
              ="#{doc.year}"
              %br/
              %strong Rank:
              ="#{score}"

    #facets{:class => "column span-12 last"}
    - @facets.each do |facet, values|
      %div{:class => "column span-5"}
        %h4=facet.capitalize
        %ul{:class => "#{facet}-facets"}
          - values.each do |value, count|
            %li
              =add_filter(@query,@filter,facet,value,count)

- else
  %p Search form here.
    