.span-24
  .span-22.prepend-1
    - if @q.nil?
      %h2 #{t 'app.search'}
      .span-20.prepend-1
        = render "advanced_search_form"
    - else
      %h2
        -if @query == "*:*"
          = t('app.result', :count => @q.total_hits)
        -else
          = t('app.result_with_query', :count => @q.total_hits)
          %strong #{@query}

      -if @spelling_suggestions.present? and !@q.total_hits == 0
        %p.warning.span-22
          = render 'spelling_suggestions'

      -if @q.total_hits == 0
        = render 'no_hits'
      - else
        = render "shared/people", :count => 10, :randomize => false
        = render "shared/groups", :count => 10
        #results.span-22
          = render "shared/facets"
          = render "shared/works"