/ === Search === Index ===
/ Main
%div{:class => "span-24"}
  - if @q.nil?
    %div{:class => "span-22 prepend-1"}
      %p Search form here.
  - else
    %div{:class => "span-22 prepend-1"}
      %h2
        %em="#{@q.total_hits}"
        =" Results for:"
        %strong=" #{@query}"

      -if !@spelling_suggestions.empty?
        %p{:class => "span-22"} 
          Did you mean:
          - @spelling_suggestions.each do |suggestion|
            %em.spelling-suggestion=link_to suggestion, {:controller => "search", :q => suggestion }

      / People
      %div{:class => "span-16", :style => "padding:0em; margin:0em;"}
        %h3.heading Our Experts
        %ol.people{:style => "padding:0em;margin:0em;"}
          -@facets[:person_id].first(10).each do |p|
            - person = object_by_facet_id(p.name)
            %li.inline{:style => "margin:0; padding:0;"}
              %div{:class => "span-3"}
                = link_to(image_tag(person.image_url, :size => "75x100", :alt => person.name, :title => person.name, :style => "border:2px dashed #CCC; padding:3px;"), person_path(person))
                %div{:style => "width:3em; padding:0.25em; margin:0em; background-color:#fff; position:relative; right:0em; bottom:2em; text-align:center;"}
                  %strong= p.value
                  %h7{:style => "padding-right:0.5em;"}=link_to person.last_name, person_path(person)

      / Groups
      %div{:class => "span-6"}
        %h3.heading Groups
        %ol.groups
          -@facets[:group_id].first(10).each do |g|
            - group = object_by_facet_id(g.name)
            -if group.hide != true
              %li
                =link_to group.name, group_path(group)
                ="(#{g.value})"

      %div#results{:class => "span-22"}
        / Facets
        = render :partial => "shared/facets"
                    
        / Citations 
        = render :partial => "shared/citations"