/ === Search === Index ===
/ Main
- if !@export.empty?
  %div{:class => "span-24"}
    %div{:class => "span-22 prepend-1"}
      %h2 Works
      = @works

- else
  %div{:class => "span-24"}
    - if @q.nil?
      %div{:class => "span-22 prepend-1"}
        %p Search form here.
    - else
      %div{:class => "span-22 prepend-1"}
        %h2
          %em="#{@q.total_hits}"
          =" Results for:"
          %strong=" #{@query}"

        -if !@spelling_suggestions.empty?
          %p{:class => "span-22"} 
            Did you mean:
            - @spelling_suggestions.each do |suggestion|
              %em.spelling-suggestion=link_to suggestion, {:controller => "search", :q => suggestion }

        / People
        = render :partial => "shared/people", :locals => {:count => 10}

        / Groups
        = render :partial => "shared/groups", :locals => {:count => 10}

        %div#results{:class => "span-22"}
          / Facets
          = render :partial => "shared/facets"
                    
          / Works 
          = render :partial => "shared/works"