%table#publications
  %tr
    %th ISSN / ISBN
    %th Publication Name
    %th Publisher
    %th Works
  -@current_objects.each do |publication|
    %tr{:class => cycle("odd", "even")}
      - if publication.issn_isbn.nil?
        %td
      - else
        %td #{link_to publication.issn_isbn, publication}
      %td #{link_to publication.name, publication}
      %td
        = render 'shared/sherpa_icon', :publisher => publication.publisher
        #{link_to publication.publisher.name, publisher_path(publication.publisher)}
      %td #{publication.works.length}