- bibapp_cache(:controller => 'publications', :action => 'index', :page => params[:page], :action_suffix => "index-table") do
  %table#publications
    %tr
      %th #{Publication.human_attribute_name(:issn_isbn)}
      %th #{t 'common.publications.publication_name'}
      %th #{Publisher.model_name.human}
      %th #{Work.model_name.human_pl}
    - work_counts = work_count_hash(@current_objects)
    - all_publisher_data = publisher_data_hash(@current_objects)
    - @current_objects.each do |publication|
      %tr{:class => cycle("odd", "even")}
        - bibapp_cache(:controller => 'publications', :action => 'index', :id => publication.id, :action_suffix => "publication-row") do
          - publisher_data = all_publisher_data[publication.id]
          - if publication.issn_isbn.nil?
            %td
          - else
            %td #{link_to publication.issn_isbn, publication}
          %td #{link_to name_or_unknown(publication.name), publication}
          %td
            - color = publisher_data[:color]
            - bibapp_cache(:controller => 'publications', :action => 'index', :color => color, :action_suffix => "shared-sherpa_color") do
              = render 'shared/sherpa_icon', :color => color
            - publisher_name = publisher_data[:name].self_or_blank_default('Unknown')
            #{link_to name_or_unknown(publisher_name), publisher_path(publisher_data[:id])}
          %td #{work_counts[publication.id] || '0'}