%div{:class => "column span-24"}
  %div{:class => "column span-20 prepend-1"}
    %h2="ADMIN::Publications (#{@page.upcase}) - #{link_to "Add", new_publication_path}"
    %h3 Select and Add Authority
    %ol#alpha-nav.pagination
      - ('a'..'z').each do |alink|
        %li= link_to alink, authorities_publications_path(:page => alink)
    %br/
    %table#publications
      %thead
        %tr
          %td Select
          %td ISSN / ISBN
          %td Title
          %td Publisher
          %td= render :partial => 'authority_actions'
      %tbody
        -@current_objects.each do |publication|
          %tr.publication{:id => "publication_#{publication.id}"}
            %td
              %a.add select
            %td=publication.issn_isbn
            %td=link_to "#{publication.authority.name}", edit_publication_path(publication)
            %td=link_to "#{publication.publisher.authority.name}", publisher_path(publication.publisher)
            %td
              %a.update make authority
            
%script{:type => 'text/javascript'}
  :plain
    
    Event.addBehavior({
      'a.add:click': function() {
        var id = this.up('tr').id;
        console.log(id);
      
        if (this.innerHTML == "remove") {
          $(id).removeClassName("selected");
          this.update("select");
        } else {
          $(id).addClassName("selected");
          this.update("remove");
        }
      },
      'a.update:click': function() {
        var auth_id = this.up('tr').id;
        console.log(auth_id);
        
        if (this.innerHTML == "make authority") {
          $(auth_id).addClassName("authority");
          this.update("Authority!");
        } else {
          $(auth_id).removeClassName("authority");
          this.update("make authority");
        }
      },
        
      '#authority:submit': function() {
        pub_ids = new Array();
        auth_id = new Array();
        
        auth_id = $$('tr.authority')[0].id.split('_')[1];
        
        $$('tr.selected').each(function(value) {
          pub_ids = pub_ids.concat(value.id.split('_')[1]);
        })
        
        $('pub_ids').value = pub_ids;
        $('auth_id').value = auth_id;
        
      }
    });
    
    // $$('tr.selected') will return an Array of "selected" rows