- include_data_tables
- include_javascript('specific/publications/authorities')

- if logged_in? && current_user.has_any_role?("editor", "Group")
  - content_for :admin_bar do
    / #### Admin Actions ###
    #admin-actions.span-24
      %ul#edit-actions
        %li #{link_to "Add a Publication", new_publication_path}

.span-24.column
  .span-22.prepend-1.column
    %h2 Admin Publication Authorities

    #authority_form
      %p To set publication authorities, add records to the box below, select one record as the authority, and click the <em>Set Authority</em> button.
      = render :partial => "authority_form", :object => @pas, :locals => {:page => @page}

    = render :partial => "shared/alpha_pagination"

    %table#publications
      %thead
        %tr
          %td Select
          %td ISSN / ISBN
          %td Publication Name
          %td Publisher
          %td Works
      %tbody
        -@current_objects.each do |publication|
          %tr#publication.publication{:id => publication.id, :class => cycle("odd", "even")}
            %td #{link_to 'add', add_to_box_publications_url(:new_pa => publication.id, :page => @page)}
            %td #{publication.issn_isbn}
            %td #{link_to publication.authority.name, publication_path(publication)}
            %td #{link_to publication.publisher.authority.name, publisher_path(publication.publisher)}
            %td #{publication.works.size}

    %br/
    %br/
    = render :partial => "shared/alpha_pagination"
