- include_data_tables
- include_javascript('specific/publications/authorities')

- if current_user_any_role?("editor", "Group")
  = render :layout => 'layouts/admin_bar' do
    %li #{link_to "Add a Publication", new_publication_path}

= render :layout => 'layouts/main_body', :locals => {:header => 'Admin Publication Authorities'} do
  #authority_form
    %p To set publication authorities, add records to the box below, select one record as the authority, and click the <em>Set Authority</em> button.
    = render :partial => "authority_form", :object => @pas, :locals => {:page => @page}

  = render "shared/alpha_pagination"

  = render 'authorities_table'

  %br/
  %br/
  = render "shared/alpha_pagination"
