%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    %h2="Publications (#{@current_objects.size}) - #{link_to "Add", new_publication_path}"
    
    = render :partial => "shared/alpha_pagination"

    %ol.publications
      -@current_objects.each do |publication|
        %li.publication
          =link_to "#{publication.name} - #{publication.issn_isbn}", publication