/ === Publications === Index ===
/ Main
- include_stylesheet('common/sherpa')
- @title = "Publications" # Specify text at end of HTML <title> tag

- if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li #{link_to "Add a Publication", new_publication_path}
    %li #{link_to "Admin Publication Authorities", authorities_publications_path(:page => params[:page])}

= render :layout => 'layouts/main_body', :locals => {:header => 'Publication'} do

  = render "shared/alpha_pagination", :numbers => true

  = render 'index_table'

  %br/
  %br/
  = render "shared/alpha_pagination", :numbers => true