%div{:class => "column span-24"}
  %div{:class => "column span-16"}
    %h2="Publications (#{@current_objects.total_entries}) - #{link_to "Add", new_publication_path}"
    = will_paginate @current_objects
    %ol.publications
      -@current_objects.each do |publication|
        %li.publication
          =link_to "#{publication.name} - #{publication.issn_isbn}", publication