- include_stylesheet('common/sherpa')

- if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li #{link_to t('common.publications.new'), new_publication_path}
    %li #{link_to t('common.publications.authority'), authorities_publications_path(:page => params[:page])}

= render :layout => 'layouts/main_body', :locals => {:header => Publication.model_name.human} do

  = render "shared/alpha_pagination", :numbers => true

  = render 'index_table'

  %br/
  %br/
  = render "shared/alpha_pagination", :numbers => true