/ === Publications === Show ===
/ Main
- include_stylesheet('specific/publications/show')
- include_stylesheet('common/sherpa')

- if !@export.empty?
  .span-24
    .span-22.prepend-1
      %h2 Works
      = @works

- else
  - if logged_in? && current_user.has_any_role?("editor", Group)
    - content_for :admin_bar do
      / #### Admin Actions ###
      #admin-actions.span-24
        %ul#edit-actions
          %li #{link_to "Edit this publication", edit_publication_path(@publication)}
          
  .span-24

    .span-22.prepend-1
      %h2 #{ @publication.name}
      -if @publication.publisher
        %h4
          Published by:
          #{link_to(h(@publication.publisher.name), publisher_path(@publication.publisher)).html_safe}
          = render :partial => 'shared/sherpa_icon', :locals => {:publisher => @publication.publisher}
      
      / Authority check
      - if @authority_for.size == 0
        .notice
          %h3 Authorized Title
          - if @publication.authority
            %p #{link_to(h(@publication.authority.name), publication_path(@publication.authority)).html_safe}
        
      -else

        / People
        = render :partial => "shared/people", :locals => {:count => 10, :randomize => false}

        / Groups
        = render :partial => "shared/groups", :locals => {:count => 10}

        #results.span-22
        
          / Search Within
          .span-5
            .left_box
              .box_heading Search Within
              = form_tag publication_path, :method => :get do
                = text_field_tag(:q, value = params[:q], {:size => 15})
                = submit_tag 'Go'
        
            / Facets
            = render :partial => "shared/facets"

          / Works 
          = render :partial => "shared/works"

        / Authority
        #authority.span-22
          - unless @authority_for.empty?
            %h4
              #{@publication.name}
              &ndash; authorized name for:
            %table#authority-children
              %thead
                %tr
                  %th Name
                  %th ISSN/ISBN
                  %th Publisher
              %tbody
                - @authority_for.each do |auth|
                  %tr
                    %td=link_to auth.name, publication_path(auth)
                    %td= auth.issn_isbn
                    -if auth.publisher
                      %td= auth.publisher.name