/ === Publications === Show ===
/ Main
- if !@export.empty?
  %div.span-24
    %div.span-22.prepend-1
      %h2 Works
      = @works

- else
  - if logged_in? && current_user.has_role?("editor", @name_string)
    - content_for :admin_bar do
      / #### Admin Actions ###
      %div.span-24#admin-actions
        %ul#edit-actions
          %li=link_to "Edit this publication", edit_publication_path(@publication)

  %div.span-24

    %div.span-22.prepend-1
      %h2= @publication.name
      %h4="Published by: #{link_to @publication.publisher.name, publisher_path(@publication.publisher)}"
      
      / Authority check
      - if @authority_for.size == 0
        %div.notice
          %h3 Authorized Title
          %p=link_to @publication.authority.name, publication_path(@publication.authority)
        
      -else

        / People
        = render :partial => "shared/people", :locals => {:count => 10}

        / Groups
        = render :partial => "shared/groups", :locals => {:count => 10}

        %div#results.span-22
        
          / Search Within
          %div.span-5
            %div.left_box{:style => "padding-bottom:1.25em"}
              %div.box_heading Search Within
              - form_tag publication_path, :method => :get, :style => "padding-left:0.5em" do
                = text_field_tag(:q, value = nil, {:size => 15})
                = submit_tag 'Go'
        
            / Facets
            = render :partial => "shared/facets"

          / Works 
          = render :partial => "shared/works"

        / Authority
        %div#authority.span-22
          - unless @authority_for.empty?
            %h4
              =@publication.name
              &ndash; authorized name for:
            %table#authority-children
              %thead
                %tr
                  %th Name
                  %th ISSN/ISBN
                  %th Publisher
              %tbody
                - @authority_for.each do |auth|
                  %tr
                    %td=link_to auth.name, publication_path(auth)
                    %td= auth.issn_isbn
                    %td= auth.publisher.name