%li{ :class => ['nlm-citation ', citation.reftype.class_name, cycle(" even", " odd")]}
  %h3= citation.id.to_verhoeff
  .citation
    %h4= citation.reftype.refworks_reftype
    = format_citation_apa_to_html(citation)
    %p
      = link_to_findit(citation)
      = " | " 
      = link_to_unless(citation.links.to_s.empty?, "Direct link", citation.links)
    %span.buttons
      - form_tag :action => 'archive' do
        = hidden_field_tag :id, citation.id
        = submit_tag "Mark as saved", :name => 'saved'
        = submit_tag "Send to bottom", :name => 'bottom'
        = submit_tag "Mark as forgetit", :name => 'forgetit'