= render :layout => '/layouts/main_body', :locals => {:header => t('admin.deposit.header')} do
  - if @deposit
    %p.success #{t('admin.deposit.success')}
    %fieldset
      %legend #{t('admin.deposit.information')}
      .field
        %label #{t('admin.deposit.title')}:
        %span.field_value=@deposit['title']
      .field
        %label #{t('admin.deposit.uri')}:
        %span.field_value
          =link_to @deposit['id'], @deposit['id']
      .field
        %label #{t('admin.deposit.treatment')}:
        %span.field_value=@deposit['treatment']
      .field
        %label #{t('admin.deposit.repository')}:
        %span.field_value
          =link_to "#{t('personalize.repository_name')}", $REPOSITORY_BASE_URL
      .field
        %label #{t('admin.deposit.date')}:
        %span.field_value=@deposit['updated']
  = link_to t('admin.deposit.return'), work_path(@work)
