#sidebar
  %h3 Citation formats:
  %ul
    %li RefWorks XML
    %li RIS
    %li MEDLINE tagged
    %li BibTeX

#content
  %h3
    = "Citations to collect: #{@count.size}"
  - if @count.size > 0
    %h4
      = link_to("#{@person.display_name}", :controller => :people, :action => :show, :id => @person.id)
    %p
      = link_to(@citation.title, @citation.link)
    - form_for :authorship, :url => {:controller => :authorships, :action => :create_from_ris} do |form|
      %p Copy/Paste
      = form.hidden_field :person_id, :value => @person.id
      = form.hidden_field :feed_id, :value => @citation.id
      = form.text_area(:ris)
      %br
      = form.file_field(:file)
      %br
      = submit_tag("Save it!")
      = submit_tag("This is bogus!")
  -else
    %p Nothing to collect!  You've done a great job.