#content
  %h2 Things you can do:
  %ul#tasks
    %li
      = link_to "Add people and groups", new_person_path
    %li
      = link_to "Manage publishers", publishers_path
    %li
      = link_to "Prepare files for archiving", :action => "archive"
    %li
      = link_to "Get items from Bloglines", :action => "feeds"
    %li
      = link_to "Generate DSpace import package", :controller => :archives, :action => :create