-# Volume & Issue fields
-#
-# Possible Input Variables:
-#    :form         => current form (REQUIRED)
-#    :dupe         => duplicate work (REQUIRED)

%td
  = form.label :volume, "Volume:"
  = form.text_field :volume, :class=>'text smallbox'

  = form.label :issue, "Issue:", :class => 'inline_label'
  = form.text_field :issue, :class=>'text smallbox'
%td.duplicate
  = label_tag 'dupe_volume', "Volume:"
  = text_field_tag 'dupe_volume', dupe.volume, :class => 'text smallbox'

  = label_tag 'dupe_issue', "Issue:", :class => 'inline_label'
  = text_field_tag 'dupe_issue', dupe.issue, :class => 'text smallbox'