-if (File.exist?("#{RAILS_ROOT}/app/views/works/apa/_#{@work.class.name.to_s.underscore}.html.haml") || File.exist?("#{RAILS_ROOT}/app/views/works/apa/_#{@work.class.name.to_s.underscore}.html"))
  %h4{:style => "margin-bottom:0.5em;"}="APA Format: #{@work.class.name.to_s.underscore.humanize}"
  %p.apa_citation= render :partial => "works/apa/#{@work.class.name.to_s.underscore}", :locals => { :c => @work }
  
-else
  %h4="APA Format: Generic"
  %p.apa_citation= render :partial => "works/apa/generic", :locals => { :c => @work }