= form_for @work, :as => :work, :url => work_path(@work), :html => {:class => "work_form", :method => :put} do |form|
  = error_messages_for @work
  = render decide_edit_partial(@work), :form => form

  -#Add return path & page to form, if specified
  = hidden_field_tag "return_path", @return_path unless @return_path.nil?
  = hidden_field_tag "return_page", @return_page unless @return_page.nil?