.span-5
  .left_box.search-within
    .box_heading #{t 'app.search_within'}
    = form_tag(group_works_path(@group), :method => :get) do
      = text_field_tag(:q, params[:q], :size => 15)
      = submit_tag t('app.go')

.span-17.last
  %h2 #{link_to(h(@group.name), group_path(@group)).html_safe}
  = render "shared/local_nav", :object => "group"
