!!! XML
%mets{ :OBJID=>"sword-mets", :LABEL=>"BibApp SWORD package", :PROFILE=>"DSpace METS SIP Profile 1.0", :xmlns=>"http://www.loc.gov/METS/", 'xmlns:xlink'=>"http://www.w3.org/1999/xlink", 'xmlns:xsi'=>"http://www.w3.org/2001/XMLSchema-instance", 'xsi:schemaLocation'=>"http://www.loc.gov/METS/ http://www.loc.gov/standards/mets/mets.xsd" }
      
  -# METS Header
  %metsHdr{ :CREATEDATE=>"#{DateTime.now.to_s(:xsd)}" }
    %agent{ :ROLE=>"CREATOR", :TYPE=>"OTHER" }
      %name="BibApp"
 
  -# Descriptive Metadata Section
  %dmdSec{ :ID=>"sword-mets-dmd-#{work.id}", :CREATED=>"#{work.created_at.to_s(:xsd)}" }
    -# Metadata in EPrints DC XML Schema - As necessary for SWORD
    = render :partial => 'works/epdcx.mets', :locals => {:work => work, :filenames_only => filenames_only}
 
  -# Files Section
  %fileSec
    %fileGrp{ :ID=>"sword-mets-fgrp-#{work.id}", :USE=>"CONTENT" }
      - work.attachments.each do |att|
        %file{ :ID=>"sword-mets-file-#{att.id}", :MIMETYPE=>att.content_type, :SIZE=>att.size }
          -# Check for flag to ONLY display file names (not paths)
          - if filenames_only
            %FLocat{ :LOCTYPE=>"URL", "xlink:href"=>att.filename }/  
          - else  
            %FLocat{ :LOCTYPE=>"URL", "xlink:href"=>att.public_url(request) }/  
  
  -# Structure Map Section
  %structMap{ :ID=>"sword-mets-struct-#{work.id}", :TYPE=>"LOGICAL" }
    %div{ :ID=>"sword-mets-struct-div-#{work.id}", :DMDID=>"sword-mets-dmd-#{work.id}", :TYPE=>"SWORD Object" }
      - work.attachments.each do |att|
        %div{ :ID=>"sword-mets-struct-file-#{att.id}", :TYPE=>"FILE" }
          %fptr{ :FILEID=>"sword-mets-file-#{att.id}" }/
