-authors = ""
-work.authors.each { |a| authors += "#{a[:name]}, " }
-authors = authors[0..authors.length-3]
-editors = ""
-work.editors.each { |e| editors += "#{e[:name]}, " }
-editors = editors[0..editors.length-3]

-#ce = WorkExport.new
-#citation = ce.drive_csl("apa",work)
-#citation = h(citation.gsub(/<[^>]*>/,""))
-#citation = citation.gsub(/&amp;amp;/,"&amp;")

-locator = link_to_findit(Index.work_to_solr_hash(work))
-locator = locator.gsub(/<a\shref=\"/,"")
-locator = locator.gsub(/\">Find It<\/a>/,"")

-peer_reviewed = ""
-unless work.peer_reviewed.nil?
  -peer_reviewed = work.peer_reviewed == true ? "true" : "false"


%rdf:Description{'rdf:about'=>"#{work_url(work)}"}
  %rdf:type{'rdf:resource'=>"http://purl.org/ontology/bibo/Document"}
  -unless authors.blank?
    %bibo:authorList{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=authors
  -unless editors.blank?
    %bibo:editorList{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=editors
  %core:title=h(work.title_primary)
  -unless work.abstract.blank?
    %bibo:abstract
      =h(work.abstract)
  -unless work.publication_id.blank?
    %core:publishedInTitle=h(work.publication.name)
    %core:publishedIn{'rdf:resource'=>publication_url(work.publication)}
  -unless work.year.blank?
    %core:year{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#gYear"}=h(work.year)
  -unless work.start_page.blank?
    %bibo:pageStart{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#int"}=h(work.start_page)
  -unless work.end_page.blank?
    %bibo:pageEnd{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#int"}=h(work.end_page)
  -unless peer_reviewed.blank?
    %core:refereedStatus{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#boolean"}=peer_reviewed
  -unless work.links.blank?
    %bibo:doi{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=h(work.links)
  %core:localLibraryLink{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=locator
  %bibo:coins{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=h(coin(work))
  -#%vitro:citation{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}
    -#=citation
  %vitro:timekey{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#dateTime"}=work.created_at
  %vitro:modTime{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#dateTime"}=work.updated_at
  -unless work.people.blank?
    %core:informationResourceInAuthorship{'rdf:resource'=>"#{work_url(work)}#Authorship"}

%rdf:Description{'rdf:about'=>"#{work_url(work)}#Authorship"}
  %rdf:type{'rdf:resource'=>"http://vivoweb.org/ontology/core#Authorship"}
  %core:linkedInformationResource{'rdf:resource'=>"#{work_url(work)}"}
  -work.people.each do |p|
    %core:linkedAuthor{'rdf:resource'=>"#{person_url(p)}"}

