/ === Works === Edit ===
/ Main

- if logged_in? && current_user.has_role?("editor", @work)
  - content_for :admin_bar do
    / #### Admin Actions ###
    %div.span-24#admin-actions
      %ul#edit-actions
        %li=link_to "Delete this work", {:id => @work.id, :controller => "works", :action => "destroy"}, :method => :delete, :confirm => 'Permanently delete this work? This cannot be undone.'

%div.span-24
  %div.span-22.prepend-1
    %div#change_type{:style=>"float:right;"}
      - form_for :work, :url => {:action => :change_type} do |form|
        %label Change Type
        %select{:name => 'type'}
          - Work.types.each do |t|
            - if Work.type_to_class(t) == @work.class
              %option{:selected => "selected", :value => "#{Work.type_to_class(t)}"}= t
            - else
              %option{:value => "#{Work.type_to_class(t)}"}= t
        = hidden_field_tag :work_id, @work.id
        = submit_tag 'Go'

    %h2 Edit a Work

    %div.span-22

      - form_for :work, @work, :url => work_path(@work), :html => {:class=>"work_form", :method => :put} do |form|
        -if (File.exist?("#{RAILS_ROOT}/app/views/works/forms/_form_#{@work.class.name.to_s.underscore}.html.haml") || File.exist?("#{RAILS_ROOT}/app/views/works/forms/_form_#{@work.class.name.to_s.underscore}.html"))
          = render :partial => "works/forms/form_#{@work.class.name.to_s.underscore}", :locals => { :form => form }
        -else
          = render :partial => "works/forms/form_generic", :locals => { :form => form }
    
        -#Add return path & page to form, if specified
        = hidden_field_tag "return_path", @return_path unless @return_path.nil?
        = hidden_field_tag "return_page", @return_page unless @return_page.nil?