/ === Works === Edit ===
/ Main

- if current_user_role?("editor", @work)
  = render :layout => 'layouts/admin_bar' do
    %li=link_to "Delete this work", work_url(@work), :method => :delete, :confirm => 'Permanently delete this work? This cannot be undone.'

= render :layout => 'layouts/main_body_no_h2' do
  = render 'change_type_form'

  %h2 Edit a Work

  .span-22

    = form_for @work, :as => :work, :url => work_path(@work), :html => {:class=>"work_form", :method => :put} do |form|
      -if (File.exist?("#{Rails.root}/app/views/works/forms/_form_#{@work.class.name.to_s.underscore}.html.haml") || File.exist?("#{Rails.root}/app/views/works/forms/_form_#{@work.class.name.to_s.underscore}.html"))
        = render :partial => "works/forms/form_#{@work.class.name.to_s.underscore}", :locals => { :form => form }
      -else
        = render :partial => "works/forms/form_generic", :locals => { :form => form }

      -#Add return path & page to form, if specified
      = hidden_field_tag "return_path", @return_path unless @return_path.nil?
      = hidden_field_tag "return_page", @return_page unless @return_page.nil?