/ === Works === Edit ===
/ Main

- if logged_in? && current_user.has_role?("editor", @work)
  - content_for :admin_bar do
    / #### Admin Actions ###
    .span-24#admin-actions
      %ul#edit-actions
        %li=link_to "Delete this work", work_url(@work), :method => :delete, :confirm => 'Permanently delete this work? This cannot be undone.'

.span-24
  .span-22.prepend-1
    #change_type.right
      = form_for @work, :url => change_type_work_url(@work), :html => {:method => :put} do |form|
        %label Change Type
        %select{:name => 'type'}
          - Work.types.each do |t|
            - if Work.type_to_class(t) == @work.class
              %option{:selected => "selected", :value => "#{Work.type_to_class(t)}"}= t
            - else
              %option{:value => "#{Work.type_to_class(t)}"}= t
        = form.submit 'Go'

    %h2 Edit a Work

    .span-22

      = form_for @work, :as => :work, :url => work_path(@work), :html => {:class=>"work_form", :method => :put} do |form|
        -if (File.exist?("#{Rails.root}/app/views/works/forms/_form_#{@work.class.name.to_s.underscore}.html.haml") || File.exist?("#{Rails.root}/app/views/works/forms/_form_#{@work.class.name.to_s.underscore}.html"))
          = render :partial => "works/forms/form_#{@work.class.name.to_s.underscore}", :locals => { :form => form }
        -else
          = render :partial => "works/forms/form_generic", :locals => { :form => form }

        -#Add return path & page to form, if specified
        = hidden_field_tag "return_path", @return_path unless @return_path.nil?
        = hidden_field_tag "return_page", @return_page unless @return_page.nil?