:plain
  {
    "works": [
- @works.each do |w|
  - work = Work.find(w['pk_i'])
  :plain
        {
          "type": "#{work.type}",
          "id": "#{work.id}",
          "link": {
            "href": "#{work_url(work.id)}.json"
          }
        }
-if @has_next_page
  -@page = @page == 0 ? 1 : @page
  :plain
        {
          "link": {
            "rel": "next",
            "href": "#{works_url()}.json?page=#{@page.to_i+1}"
          }
        }
:plain
    ]
  }