- include_stylesheet('specific/works/index')

/ ### Person / Works ###
- if params[:person_id] and current_user_role?("editor", Person.find(params[:person_id]))
  = render :partial => "people/admin_actions", :layout => 'layouts/admin_bar'

- elsif current_user_any_role?("editor", Group) or current_user_role?('admin', Work)
  = render :layout => 'layouts/admin_bar' do
    - if current_user.has_any_role?("editor", Group)
      %li #{link_to t('works.index.add'), new_user_import_path(current_user)}
    - if current_user.has_role?('admin', Work)
      %li #{link_to(t('works.index.view_orphans'), orphans_works_url)}

= render :layout => 'layouts/main_body_no_h2' do
  - if @view == "all"

    - if params[:person_id]
      = render 'person_index_search'
    - if params[:group_id]
      = render 'group_index_search'

    #results.span-22
      = render "shared/facets"
      = render "shared/works"

  - else
    %h2 #{t('works.index.heading_html')}

    .span-15
      = render "shared/people", :count => 15, :randomize => true
    .span-7.last
      = render 'first_works'

    #facets.span-24
      .span-6.prepend-1
        = render "shared/groups", :count => 10
      .span-6.prepend-1.append-2
        = render "shared/publications", :count => 10
      .span-6.last
        = render "shared/publishers", :count => 10
