/ === Works === Index ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    - if flash[:notice]
      %div.success= flash[:notice]

    - if logged_in? && current_user.has_role?("editor")
      %ul#edit-actions
        %li=link_to "Add a Work", new_work_path
          
  / If they want to see *everything*, let them see it!
  / params[:view] = "all"
  - if @view == "all" && @export.empty?
    %div{:class => "span-22 prepend-1"}
    
      %h2="Works"
      %div#results{:class => "span-22"}
        / Facets
        = render :partial => "shared/facets"

        / Works 
        = render :partial => "shared/works"

  - elsif !@export.empty?
    %div{:class => "span-24"}
      %div{:class => "span-22 prepend-1"}
        %h2 Works
        = @works

  - else
    %div{:class => "span-22 prepend-1"}

      %h2 
        At the library, we
        %span{:style => "color:#990000;"} &hearts; 
        our researchers.
      
      %div{:class => "span-23"}
        
        / People
        = render :partial => "shared/people", :locals => {:count => 15}

        / Works
        %div{:class => "span-7", :style => "padding-left:0.75em; margin-bottom:2em;"}
          %h3.heading
            =link_to "Works", works_url(:view => "all")
          %ol#works{:class => "span-7 works", :style => "clear:both;"}
            - @works.first(3).each do |work|
              = render :partial => "shared/work", :locals => {:work => work}

      %div#facets{:class => "span-22"}
        
        / Groups
        = render :partial => "shared/groups", :locals => {:count => 10}

        / Publications
        %div{:class => "span-7 prepend-1 append-1"}
          = render :partial => "shared/publications", :locals => {:count => 10}

        / Publishers
        %div{:class => "span-6 last"}
          = render :partial => "shared/publishers", :locals => {:count => 10}