/ === Works === Merge-Duplicates ===
/ Main
%div.span-24
  %div.span-22.prepend-1

    %h2
      ="Merge duplicates for: "
      %br/
      ="#{link_to @work, work_path(@work.id)}"

    - if @work.work_state_id != 3
      %p
        = "This is a <strong>#{$WORK_STATUS[@work.work_state_id]}</strong> work. You may only merge fields into <strong>Accepted</strong> works."
    - else
      -dupes = Index.possible_duplicates(@work)

      - if dupes.length < 1
        %p No duplicates were found for this work.
      - else
        %p Use this screen to edit the Accepted Work. When you are finished, click the button at the bottom "Save Accepted Work and Delete Duplicate".
        
        -dupe = Work.find(dupes.first["pk_i"])
        
        - form_for :work, @work, :url => work_path(@work), :html => {:class=>"merge_work_form", :method => :put} do |form|
          -if (File.exist?("#{RAILS_ROOT}/app/views/works/forms/_form_merge_#{@work.class.name.to_s.underscore}.html.haml") || File.exist?("#{RAILS_ROOT}/app/views/works/forms/_form_merge_#{@work.class.name.to_s.underscore}.html"))
            = render :partial => "works/forms/form_merge_#{@work.class.name.to_s.underscore}", :locals => { :form => form }
          -else
            = render :partial => "works/forms/form_merge_generic", :locals => { :form => form }