- include_javascripts('specific/works/autocomplete', 'specific/works/common_edit_create')
= render :layout => '/layouts/main_body', :locals => {:header => new_work_header(@person)} do

  .right
    %h3 #{t 'works.new.header'}:
    %ul
      %li #{link_to t('app.batch_import'), new_user_import_path(current_user, :person_id => (@person and @person.id))}
      %li= '-----'
      = render 'shared/work_type_list'

  .span-16
    = form_for @work, :as => :work, :url => works_url, :html => {:class=>"work_form", :method => :post, :multipart => true} do |form|
      = error_messages_for @work
      = render decide_edit_partial(@work), :form => form
      = hidden_field_tag :person_id, @person.id if @person
