%h3 Orphaned works:
= will_paginate(@orphans)
= form_for :orphan_delete, :url => orphans_delete_works_url(:page => params[:page], :per_page => params[:per_page]) do |f|
  %fieldset
    %p
      = button_to_function('Check all', 'check_all_orphans()')
      = button_to_function('Uncheck all', 'uncheck_all_orphans()')
    %ol#orphan-list.works
    - @orphans.each do |orphan|
      %li.work
        #{check_box_tag "orphan_delete[orphan_id][]",  orphan.id, false, :id => "orphan_delete_orphan_id_#{orphan.id}", :class => 'orphan_checkbox'}
        #{orphan.title_primary}
    = submit_tag "Delete checked works", :confirm => 'Are you sure? This operation cannot be undone.'
= will_paginate(@orphans)