/ === Works === Show ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    - if logged_in? && current_user.has_role?("editor", @work)
      %ul#edit-actions
        %li= link_to "Edit", edit_work_path
        - if !WorkArchiveState.archived?(@work)
          %li= link_to "Archive Research", new_work_attachment_path(@work)
    - elsif logged_in?
      %ul#edit-actions
        %li= link_to "Edit Tags", {:controller => "works", :action => "edit_tags", :id => @work.id}
      

    = render :partial => "shared/flash_messages"

    %h2.clear-both= @work.title_primary
    %div{:class => "span-12"}
    
      -if (File.exist?("#{RAILS_ROOT}/app/views/works/apa/_#{@work.class.name.to_s.underscore}.html.haml") || File.exist?("#{RAILS_ROOT}/app/views/works/apa/_#{@work.class.name.to_s.underscore}.html"))
        %h4="APA Format: #{@work.class.name.to_s.underscore.humanize}"
        %span= render :partial => "works/apa/#{@work.class.name.to_s.underscore}", :locals => { :c => @work }
      -else
        %h4="APA Format: Generic"
        %span= render :partial => "works/apa/generic", :locals => { :c => @work }
      .links
        =link_to_findit(@work)
      %br/

      %div{:class => "span-12"}
        %h3="#{$UNIVERSITY_SHORT_NAME} Authors"
        %ol.people
          -@work.people.each do |person|
            %li.inline{:style => "margin:0; padding:0;"}
              %div{:class => "span-3"}
                = link_to(image_tag(person.image_url, :size => "75x100", :alt => person.name, :title => person.name, :style => "border:2px dashed #CCC; padding:3px;"), person_path(person))
                %div{:style => "width:3em; padding:0.25em; margin:0em; background-color:#fff; position:relative; right:0em; bottom:2em; text-align:center;"}
                  %strong= person.works.verified.size
                  %h7{:style => "padding-right:0.5em;"}=link_to person.last_name, person_path(person)
      %div.clear-both
        %fieldset
          %legend Work Information
          - if @work.name_strings.author.size > 0
            %div.field
              %label Authors:
              %span.field_value
                - @work.name_strings.author.each do |ns|
                  =link_to "#{ns.name}", name_string_path(ns)
          - if @work.name_strings.editor.size > 0
            %div.field
              %label Editors:
              %span.field_value
                - @work.name_strings.editor.each do |ns|
                  =link_to "#{ns.name}", name_string_path(ns)
          - if @work.publication_date?
            %div.field
              %label Publication Date:
              %span.field_value=@work.publication_date
          %div.field
            %label Publication Type:
            %span.field_value=@work.type 
          - if @work.publication_id? and @work.publication.name?
            %div.field
              %label Publication Source:
              %span.field_value
                =link_to @work.publication.name, publication_path(@work.publication)
          - if @work.publisher_id? and @work.publisher.name?
            %div.field
              %label Publisher:
              %span.field_value
                =link_to @work.publisher.name, publisher_path(@work.publisher)
          - if @work.volume?
            %div.field
              %label Volume:
              %span.field_value=@work.volume
          - if @work.issue?
            %div.field
              %label Issue:
              %span.field_value=@work.issue
          - if @work.start_page?
            %div.field
              %label Page(s):
              %span.field_value
                =@work.start_page
                -if @work.end_page?
                  =" - #{@work.end_page}"          
          - if @work.tags != nil
            %div.field
              %label Tag(s):
              - @work.tags.each do |tg|
                - if tg.name != @work.tags.last.name
                  ="#{tg.name};"
                - else
                  ="#{tg.name}"
   
                    

      - if !@work.attachments.nil? and !@work.attachments.empty?               
        = render :partial => 'attachments', :locals => { :files => @work.attachments }
      
        / Admin
        = render :partial => 'admin'

    %div{:class => "span-7 prepend-2 last"}
      %div.highlight
        %h3="Related #{$UNIVERSITY_SHORT_NAME} Articles"
        %ul.recommendations
          - @recommendations.each do |rec, score|
            %li{:style => "padding-bottom:0.5em"}
              =link_to rec.title_primary.titleize, work_path(rec)
              %p.metadata
                ="#{rec.publication.authority.name} |" 
                -if rec.publication_date
                  ="#{rec.publication_date.year}"