/ === Works === Show ===
/ Main

-#Require personalize.rb for Abstracts and Keywords
-require 'config/personalize.rb'
-include_stylesheet('specific/works/show')

-# @title=@work.title_primary # Specify text at end of HTML <title> tag

- if current_user_role?("editor", @work)
  = render :layout => '/layouts/admin_bar' do
    %li= link_to "Edit this work", edit_work_path
    - if !@work.archived?
      %li= link_to "Archive Research", new_work_attachment_path(@work)
    -#If SWORD is configured, and Work is "Ready for Archiving"
    -if SwordClient.configured? and @work.ready_to_archive?
      %li= link_to "Deposit Attachments", admin_deposit_via_sword_url(:work_id => @work)

.span-24
  .span-22.prepend-1
    / Work Title
    %h2
      = @work.title_primary
      %span.work-type
        = @work.type.underscore.humanize

    / Work Details
    #work-details.span-14

      / COinS
      %span.Z3988{:title => "#{coin(@work)}"}

      / Google Book Link
      = link_to_google_book(@work)

      / Attachments
      -# attachments include the Find It link
      = render :partial => 'attachments', :locals => { :files => @work.attachments }

      / Metadata
      = render :partial => "metadata"

    #local-relations.span-7.prepend-1.last
      / Local Authors
      = render :partial => "local_authors"

      / Local Recommendations
      = render :partial => "local_recommendations"
