/ === Works === Show ===
/ Main

-#Require personalize.rb for Abstracts and Keywords
-require 'config/personalize.rb'

-# @title=@work.title_primary # Specify text at end of HTML <title> tag

- if logged_in?
  - content_for :admin_bar do
    / #### Admin Actions ###
    %div.span-24#admin-actions
      - if logged_in? && current_user.has_role?("editor", @work)
        %ul#edit-actions
          %li= link_to "Edit this work", edit_work_path
          %li= link_to "Edit Tags", {:controller => "works", :action => "edit_tags", :id => @work.id}
          - if !@work.archived?
            %li= link_to "Archive Research", new_work_attachment_path(@work)
      - elsif logged_in?
        %ul#edit-actions
          %li= link_to "Edit Tags", {:controller => "works", :action => "edit_tags", :id => @work.id}

%div.span-24
  %div.span-22.prepend-1
    / Work Title
    %h2= @work.title_primary
    
    / Work Details
    %div#work-details.span-14
      %p#work-publication-details= work_details(@work)

      %div.span-14
        / Google Book Link
        = link_to_google_book(@work)
          
        / Authors
        %p#work-authors
          =link_to_work_authors(@work)
        
        / Attachments
        = render :partial => 'attachments', :locals => { :files => @work.attachments }
        
        / Abstract
        -if $DISPLAY_ABSTRACTS_AND_KEYWORDS
          %p#work-abstract= #@work.abstract
    
        / APA Citation
        = render :partial => 'citation'

        / Tags
        = render :partial => "tags"

    %div#local-relations.span-7.prepend-1.last
      / Local Authors
      = render :partial => "local_authors"

      / Local Recommendations
      = render :partial => "local_recommendations"
