/ Authors
=link_to_work_authors(c, true)

/ Year
-if c.publication_date != nil
  %span.year="(#{c.publication_date.year}). "

/ Title
%span.title="#{c.title_primary}."

/ BookTitle
In 
- if !c.name_strings.editor.empty?
  %span.editors
    - c.name_strings.editor.each do |ns|
      %span.editor=link_to "#{ns.name}", name_string_path(ns)
    (Eds.), 

%span.book-title="#{c.title_secondary}"

/ Pages
%span.pages="(pp. #{c.start_page}-#{c.end_page}). "

/ @TODO: Missing place of publication

/ Publisher
%span.publisher=link_to "#{c.publisher.authority.name}", publisher_path(c.publisher.authority.to_param)