-# requires to be passed: t form (the form being acted upon)
-# may take hidden_fields, a hash for additional hidden fields
- hidden_fields ||= {}
%table#accepted_work.span-22
  %tr
    %td.span-8.duplicate
      %h3 #{t 'works.layouts.merge_form.duplicate'}
    %td.span-12
      %h3 #{t 'works.layouts.merge_form.accepted'}
  = yield

= hidden_field_tag :type, @work.class.to_s
- hidden_fields.each do |k, v|
  = hidden_field_tag k, v
= render 'works/forms/fields/form_buttons', :form => form
