= form_tag live_search_for_name_strings_pen_names_url, :remote => true, :method => :post, :id => 'name_string_search_form' do
  #{t '.search_text'}
  %br/
  = text_field_tag(:q)
  = hidden_field_tag(:person_id, @person.id)
  = submit_tag t('app.search')