- include_javascript('specific/pen_names/new')
- if current_user_any_role?("editor", Group)
  = render :layout => '/layouts/admin_bar' do
    %li= link_to t('pen_names.new.delete'), person_url(@person), :method => :delete, :confirm => t('pen_names.new.confirm')
    %li= link_to t('pen_names.new.add'), new_person_path

= render :layout => '/layouts/main_body', :locals => {:header => body_header(@person)} do
  = render "shared/local_nav", :object => "person", :state => "edit"

  .span-4.prepend-1
    #picture.span-3
    %p= render "shared/person_image", :o => @person

  %fieldset
    %legend #{PenName.model_name.human_pl}
    %p #{t('pen_names.new.explanation_html')}
    %h3= t('pen_names.new.current')
    = render 'current_namestrings'

    = render 'new_namestring_form'

    %br/
    %hr/

    %h3= t('pen_names.new.suggested')
    %p= t('pen_names.new.instructions_html')
    = render 'suggested_namestrings'

    = render 'search_for_namestrings'
