/ === Pen Names === New ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    %h2=" Editing: #{link_to @person.first_last, person_path(@person)}"

    = render :partial => "shared/local_nav", :locals => {:object => "person", :state => "edit"}

    %div{:class => "span-4 prepend-1"}
      #picture{:class => "span-3"}
      %p= render :partial => "shared/person_image", :locals => {:o => @person}

    %fieldset
      %legend="Pen Names"
      %h3 Current pen names
      %ol#current
        = render :partial => "name_string", :collection => @person.name_strings(true), :locals => { :selected => true }

      - remote_form_for :name_string, NameString.new, :url => {:action => :create_name_string }, :method => :post do |form|
        Add a name string (ex. "Smith, J")
        %br/
        = form.text_field :name, :size => 20
        = hidden_field_tag :person_id, @person.id
        = submit_tag "Add"

      %br/
      %hr/
      %h3 Suggestions based on last name
      %ol#inactive
        - if (@suggestions - @person.name_strings).size < 1
          There are no immediate suggestions for:
          %strong= "#{@person.last_name}"
        - else
          = render :partial => "name_string", :collection => @suggestions - @person.name_strings, :locals => { :person => @person, :selected => false }


      - form_remote_tag :url => '/pen_names/live_search_for_name_strings' do
        Search other last names to add suggestions (ex. "Smith")
        %br/
        = text_field_tag(:q, value = nil, options = {})
        = hidden_field_tag(:person_id, value = @person.id)
        = submit_tag 'Add suggestions'

      =sortable_element 'current', :url => {:action => "sort", :person_id => @person.id }