- if @q
  %h3
    %em="#{@q.total_hits}"
    =" Results for:"
    %strong=" #{@query}"

  %div{:class => "column span-24"}
    %div{:class => "column span-12"}
      %h4="Citations (#{@docs.size})"
      %ol.results
        - @docs.each do |doc, score|
          %li
            =link_to "#{doc.title_primary}", citation_path(doc)
            %p 
              %strong Authors:
              - doc.authors.each do |au|
                =link_to "#{au.name}", author_path(au)
              %br/
              %strong Source:
              =link_to "#{doc.publication.authority.name}", publication_path(doc.publication.authority.to_param)
              = "#{doc.volume}(#{doc.issue}), #{doc.start_page}-#{doc.end_page}."
              %br/
              %strong Year:
              ="#{doc.year}"
              %br/
              %strong Rank:
              ="#{score}"

    #facets{:class => "column span-12 last"}
      %div{:class => "column span-4"}
        %h4 Authors
        %ul.author-facets
          - @author_facets.each do |af|
            %li
              =link_to "#{af[0]}", "search?q=#{@query}&fq=author_facet:#{af[0]}"
              ="(#{af[1]})"
            
      %div{:class => "column span-3 last"}
        %h4 Years
        %ul.year-facets
          - @year_facets.each do |yf|
            %li
              =link_to "#{yf[0]} ", "search?q=#{@query}&fq=year_facet:#{yf[0]}"
              ="(#{yf[1]})"

      %div{:class => "column span-5 last"}
        %h4 Types
        %ul.type-facets
          - @type_facets.each do |tf|
            %li
              =link_to "#{tf[0]} ", "search?q=#{@query}&fq=type_facet:#{tf[0]}"
              ="(#{tf[1]})"

      %div{:class => "column span-12"}
        %h4 Publications
        %ul.publication-facets
          - @publication_facets.each do |pf|
            %li
              =link_to "#{pf[0]}", "search?q=#{@query}&fq=publication_facet:#{pf[0]}"
              ="(#{pf[1]})"

- else
  %p Search form here.
    