- if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li= link_to t('groups.complete_index.add_group'), new_group_path
    - if logged_in? && current_user.has_role?("admin", System)
      %li= link_to t('groups.complete_index.show_hidden'), hidden_groups_path

= render :layout => 'layouts/main_body_no_h2'  do
  %h2 #{Group.model_name.human_pl}

  = render "shared/alpha_pagination"

  = render 'group_table', :groups => @current_objects

  %br/
  %br/
  = render "shared/alpha_pagination"
