%fieldset
  %legend Group
  %p
    %label Name
    %br/
    = text_field_with_auto_complete :group, :name, {}, {:method => :get, :skip_style => true, :frequency => 0.5}
  %p
    %label Description
    %br/
    = form.text_area :description
  %p
    %label URL
    %br/
    = form.text_field :url
  %p
    %label Parent Group
    %br/
    = form.collection_select :parent_id, @groups, :id, :name, :include_blank => true
  %p.submit
    = submit_tag :save