- @people.each do |person|
  %li{:class => ["person ", cycle("even", "odd")]}
    = image_tag(person.image, :height => "80px", :alt => "#{person.display_name}", :class => "photo")
    .person-data
      %h4.name
        = link_to person.display_name, person_path(person.to_param)
      %p.groups
        - person.memberships.each do |m|
          = m.group.name + ', '
          = m.title
          %br