- if current_user_role?("editor", @group)
  = render :layout => 'layouts/admin_bar' do
    - if logged_in? && current_user.has_role?("editor", @group)
      - if @group.hide == true
        %li= link_to t('groups.edit.unhide'), unhide_group_url(@group), :confirm => t('app.are_you_sure')
      - else
        %li= link_to t('groups.edit.hide'), hide_group_url(@group), :confirm => t('app.are_you_sure')
    - if logged_in? && current_user.has_role?("admin", @group)
      %li= link_to t('groups.edit.delete'), group_url(@group), :method => :delete, :confirm => t('groups.edit.delete_confirm')

  .span-22.prepend-1

    %h2 #{t('.header_html', :link_to_group => link_to(h(@group.name), group_path(@group)))}

    .span-16.column
      = form_for @group, :as => :group, :url => group_path(@group), :html => {:method => :put} do |form|
        = render 'form', :form => form