- if flash[:notice]
  %p= "#{flash[:notice]} Get to work..."

#project-status
  We've collected data for 
  %strong= "#{@people_count} people"
  and
  %strong= "#{@groups_count} groups."
  We're putting 
  %strong= "#{@archive_count} papers"
  online, for free.
  %strong This is true.

- form_tag( {:controller => :search, :action => "experts"}, {:method => "get"} ) do
  #expert-find
    Find an expert!
    = text_field_tag :query, params[:query]
    = submit_tag "Go"

#popular
  #subjects
    %h3 Popular Subjects

    #group-tagcloud
      - tag_cloud @tags.sort{ |a, b| a.name.gsub(/-/, ' ').strip <=> b.name.gsub(/-/, ' ').strip }, %w(nube1 nube2 nube3 nube4 nube5 nube6) do |name, css_class|
        = link_to name.gsub(/-/, ' ').strip, {:controller => "search", :action => "experts", :query => name.gsub(/-/, ' ').strip}, :class => css_class
      
  #authors
    %h3 Prolific Authors
    - @people.each do |person|
      = link_to(image_tag(person.image, :height => "40px", :alt => "#{person.display_name}", :class => "photo"), person_path(person.to_param))
      
  #published
    #journals
      %h3 Popular Journals
      %ol
        -@publications.each do |pub|
            - next if !pub.full_name?
            %li
              = pub.count
              = pub.full_name.titleize
      
    #publishers
      %h3 Popular Publishers
      %ol
        -@publishers.each do |pub|
          - next if !pub.full_name?
          %li
            = pub.count
            = pub.full_name