/ === Groups === Index ===
/ Main
- include_stylesheet('specific/groups/index')
- @title="Groups" # Specify text at end of HTML <title> tag


- if params[:person_id]
  - if logged_in? && current_user.has_role?("editor", Person.find(params[:person_id]))
    = render :partial => "people/admin_actions", :layout => 'layouts/admin_bar'

- else
  - if current_user_any_role?("editor", Group)
    = render :layout => 'layouts/admin_bar' do
      %li=link_to "Add a Group", new_group_path
      - if logged_in? && current_user.has_role?("admin", System)
        %li=link_to "Show Hidden Groups", hidden_groups_path

.span-24
  .span-22.prepend-1
    / ### Person / Groups ###
    - if params[:person_id]
      .span-5
        .text-center
          =image_tag(@person.image_url, :class => 'group-index-person-image', :size => "75x100")

      %div.span-17.last
        %h2
          #{link_to(h(@person.display_name), person_path(@person)).html_safe}
        = render :partial => "shared/local_nav", :locals => {:object => "person"}

        = render :partial => 'shared/group_list'

    - else
      / ### Groups
      %h2="Groups"

      = render :partial => "shared/alpha_pagination"

      %table#groups
        %tr
          %th.span-10="Group Name"
          %th.span-10="Parent Group"
          %th.span-2.last="Members"
        -@current_objects.each do |group|
          %tr{:class => cycle("even", "odd")}
            %td=link_to group.name, group
            - if !group.parent.nil?
              %td=link_to group.parent.name, group.parent
            - else
              %td
            %td=group.memberships.length

      %br/
      %br/
      = render :partial => "shared/alpha_pagination"
