/ === Groups === Index ===
/ Main
- @title="Groups" # Specify text at end of HTML <title> tag
/ ### Admin Actions
%div#admin-actions.span-24
  - if logged_in? && current_user.has_role?("editor")
    - if params[:person_id]
      = render :partial => "people/admin_actions"
    - else
      %ul#edit-actions
        %li=link_to "Add a Group", new_group_path
%div.span-24
  %div.span-22.prepend-1
    = render :partial => "shared/flash_messages"
    
  %div.span-22.prepend-1
    / ### Person / Groups ###
    - if params[:person_id]
      %div.span-5
        %div{:style => "text-align:center;"}
          =image_tag(@person.image_url, :style => "border:2px dashed #CCC; padding:0.5em; margin:1em 0;", :size => "75x100")

      %div.span-17.last
        %h2
          ="#{link_to @person.first_last, person_path(@person)}"
        = render :partial => "shared/local_nav", :locals => {:object => "person"} 
        
        %ul
          - @person.groups.each do |group|
            %li=link_to group.name, group_path(group)

    - else
      / ### Groups
      %h2="Groups (#{@page})"

      = render :partial => "shared/alpha_pagination"

      %ol#groups
        -@current_objects.each do |group|
          %li.group
            =link_to group.name, group
