/ === Groups === Show ===
/ Main

- @title = @group.name  # Specify text at end of HTML <title> tag

/ #### Admin Actions ###
%div#admin-actions.span-24
  - if logged_in? && current_user.has_role?("editor", @group)
    %ul#edit-actions
      %li= link_to "Edit", edit_group_path
      %li=link_to "Manage Roles", group_roles_path(@group)

/ ### Main ###
%div.span-24
  %div.span-22.prepend-1
    = render :partial => "shared/flash_messages"
      
    %h2= @group.name
    = render :partial => "shared/local_nav", :locals => {:object => "group"}
      

  %div.span-22.prepend-1
    / People
    %div.span-15
      %h3.heading=link_to "People", people_url
  
      %ol.people
        -@group.people.each do |person|
          %li.inline
            %div.person{:class => "span-3"}
              = link_to(image_tag(person.image_url, :size => "75x100", :alt => person.name, :title => person.name, :class => "person-image"), person_path(person))
              %div.person-image-metadata
                %strong= person.works.verified.size
                %h6.person-last-name=link_to person.last_name, person_path(person)

    / Sub-Groups
    %div.span-6
      - if !@group.parent.nil?
        %h3.heading Belongs to:
        %ul.parent-group
          %li= link_to @group.parent.name, group_path(@group.parent)
      - if !@group.children.empty?
        %h3.heading Sub-Groups
        %ul.sub-groups
          -@group.children.each do |g|
            %li
              =link_to g.name, group_path(g)
              ="(#{g.works.size})"

    %div.span-7.last
      %h3.heading
        =link_to "Recent Works", group_works_path(@group)
        =link_to(image_tag("feed-icon-14x14.png"), group_path(@group, :format => "rss")) 
      %ol#works{:class => "span-7 works"}
        - @works.first(3).each do |work|
          = render :partial => "shared/work", :locals => {:work => work}