/ === Groups === Show ===
/ Main

- @title = @group.name  # Specify text at end of HTML <title> tag

- if logged_in? && current_user.has_role?("editor", @name_string)
  - content_for :admin_bar do
    / #### Admin Actions ###
    %div.span-24#admin-actions
      %ul#edit-actions
        %li=link_to "Add a Group", new_group_path
        %li= link_to "Edit this group", edit_group_path
        %li=link_to "Manage Roles", group_roles_path(@group)

/ ### Main ###
%div.span-24
  %div.span-22.prepend-1
      
    %h2
      = @group.name
      =link_to(image_tag("feed-icon-14x14.png"), group_path(@group, :format => "rss"))
    = render :partial => "shared/local_nav", :locals => {:object => "group"}
      

  %div.span-22.prepend-1
    / People
    = render :partial => "shared/people", :locals => {:count => 15}

    / Sub-Groups
    %div.span-6
      - if !@group.parent.nil?
        %h3.heading Belongs to:
        %ul.parent-group
          %li= link_to @group.parent.name, group_path(@group.parent)
      - if !@group.children.empty?
        %h3.heading Sub-Groups
        %ul.sub-groups
          -@group.children.each do |g|
            %li
              =link_to g.name, group_path(g)
              ="(#{g.works.size})"

    %div.span-7.last
      %h3.heading
        =link_to "Recent Works", group_works_path(@group)
      %ol#works{:class => "span-7 works"}
        - @works.first(3).each do |work|
          = render :partial => "shared/work", :locals => {:work => work}