%h2= @group.name
  %span#group-description
    = "#{@group.people_who_have_published.size} people, #{@citation_count} citations"

#group-members
  %ul#group-navigation
    %li= link_to("Co-authors", :action => "dot", :id => @group.id)
    %li= link_to("Timeline", :controller => "keywords", :action => "timeline", :id => @group.id)
  %ol#group-member-list 
    = render(:partial => "names")
  #pagination
    = pagination_links(@people_pages)

#group-popular
  %h3 Popular research topics
  #group-tagcloud
    - tag_cloud @group.tags.sort{ |a, b| a.name.gsub(/-/, ' ').strip <=> b.name.gsub(/-/, ' ').strip }, %w(nube1 nube2 nube3 nube4 nube5 nube6) do |name, css_class|
      = link_to name.gsub(/-/, ' ').strip, {:controller => "search", :action => "experts", :query => name.gsub(/-/, ' ').strip}, :class => css_class
  #popular-left
    %h3 Popular journals:
    %ol#journals.popular
      - @group.popular_journals.each do |item|
        %li
          %span.article-count= item.article_count
          %span.journal-title= item.periodical_full.titleize

  #popular-right
    %h3 Popular publishers:
    %ol#publishers.popular
      - @group.popular_publishers.each do |item|
        %li
          %span.article-count= item.article_count
          %span.publisher= item.publisher.titleize
