= render :layout => '/layouts/main_body', :locals => {:header => User.model_name.human_pl} do

  = render "shared/alpha_pagination"

  %table#users.prepend-1
    %tr
      %th.span-6 #{User.human_attribute_name(:email)}
      %th.span-8.last #{Role.model_name.human_pl}
    -@current_objects.each do |user|
      %tr{:class => cycle("odd", "even")}
        %td= link_to user.email, user_path(user)
        %td
          %ul
            - user.roles.each do |role|
              - if displayable_role(role)
                %li= role.description

  %br/
  %br/
  = render "shared/alpha_pagination"