= render :layout => '/layouts/main_body_no_h2' do
  = error_messages_for :user, :class => 'notice'
  %h2 Create an Account

  %fieldset
    %legend User Account
    = form_for :user, :url => users_path do |form|
      %p
        %label Email
        %br/
        = form.text_field :email
      %p
        %label Password
        %br/
        = form.password_field :password
      %p
        %label Confirm Password
        %br/
        = form.password_field :password_confirmation
      %p.submit
        = submit_tag 'Sign Up'