= render :layout => '/layouts/main_body_no_h2' do
  = error_messages_for :user, :class => 'notice'
  %h2 #{t 'users.new.header'}

  %fieldset
    %legend #{t 'users.new.legend'}
    = form_for :user, :url => users_path do |form|
      %p
        %label #{User.human_attribute_name(:email)}
        %br/
        = form.text_field :email
      %p
        %label #{User.human_attribute_name(:password)}
        %br/
        = form.password_field :password
      %p
        %label #{User.human_attribute_name(:password_confirmation)}
        %br/
        = form.password_field :password_confirmation
      %p
        %label #{User.human_attribute_name(:default_locale)}:
        = form.select(:default_locale, I18n.available_locales.collect {|locale| [t('i18n.language.name', :locale => locale), locale.to_s]}.sort, :selected => I18n.locale.to_s)
      %p.submit
        = submit_tag t('users.new.submit')