/ === User === Show ===
/ Main
= render :layout => 'layouts/main_body_no_h2' do
  = error_messages_for :user, :class => 'notice'

  %h2 User Account (#{@user.email})

  %fieldset
    %legend Account Information
    .field
      %label Email:
      %span.field_value #{@user.email}
    - if @user.roles.present?
      .field
        %label Roles in #{$APPLICATION_NAME}:
        %ul.roles
          - @user.roles.each do |role|
            - if displayable_role(role)
              %li
                = role.description
                = link_to " [remove]", roles_destroy_url(:role_id => role.id, :user_id => @user.id)
  