/ === User === Show ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    = error_messages_for :user, :class => 'notice'

    %h2="User Account (#{@user.email})"
  
    %fieldset
      %legend="Account Information"
      %div.field
        %label="Email:"
        %span.field_value=@user.email
      - if @user.roles and !@user.roles.empty?
        %div.field
          %label="Roles in #{$APPLICATION_NAME}:"
          %ul.roles
            - @user.roles.each do |role|
              - if role.authorizable_type == 'System' or role.authorizable_type == 'Group' or role.authorizable_type == 'Person'
                %li
                  = role.description
                  = link_to " [remove]", roles_destroy_url(:role_id => role.id, :user_id => @user.id)
  