-#
-# Render Form for Creating/Editing an Image
-#

-# Determine Form URL and Method based on whether we are editing or creating an image
- form_url = attachments_url
- form_method = :post
- if !@attachment.new_record?
  - form_url = attachment_path(@attachment)
  - form_method = :put
  -# Also, set the asset, if unset
  - @asset ||= @attachment.asset

-# Actually build the form
= form_for :attachment, :url => form_url, :html => { :method => form_method, :multipart => true } do |form|
  -# If there is an existing image, display it
  -if !@attachment.new_record?

    .span-4.prepend-1
      #picture.span-3
        %p= render "shared/person_image", :o => @asset

      -if @person.image
        %br.clear-both
        = link_to t('common.attachments.delete_image'), attachment_url(:id => @asset.image.id), :method => :delete

  %fieldset
    %legend= t('attachments.forms.form_image_file.legend')
    %label  #{t('attachments.forms.form_image_file.label')}:
    %br/
    = render 'upload_file', :form => form

    -# save asset id as person_id
    = hidden_field_tag :person_id, @asset.id

    -# Save type of attachment
    = hidden_field_tag :type, @attachment.class

    %p.submit
      = submit_tag t('common.attachments.upload_image'), :disable_with => t('common.attachments.uploading_image')
      = link_to t('app.cancel'), get_response_url(@asset)