= form_for :attachment, :url => attachments_url, :html => { :multipart => true, :onsubmit => "if($('license_agree').checked==false){$('license_warning').toggle(); return false;} return true;" } do |form|
  %div
    %h4 Attaching to #{@asset.class.to_s.underscore.humanize}:
    - ce = WorkExport.new
    %span.asset= ce.drive_csl("apa", @asset).html_safe
    %div
      = render "shared/sherpa_status", :publisher => @asset.publisher, :show_explanation => true
    %br/

  %fieldset
    %legend Content Files
    #upload_files
      %label Upload File(s):
      -# Allow uploading multiple files
      = link_to_remote "[Add More Files]", :url => add_upload_box_attachments_url(:form => form)
      %br/
      = render 'upload_file', :form => form

    -# save asset id as work_id
    = hidden_field_tag :work_id, @asset.id

    -# Save type of attachment
    = hidden_field_tag :type, @attachment.class

    -# Display deposit license from SWORD, if possible
    - if @license
      %p
        = check_box_tag 'license_agree', 'yes'
        I agree to the terms of the
        = link_to_function "Deposit License", "$('license').toggle();"
        for
        = @repository_name || 'my local repository'

      #license_warning.warning{:style => "display: none;"}
        You must agree to the license terms before you can upload files.
      #license.scrollarea.span-12{:style => "display: none;"}
        = @license

  %p.submit
    = submit_tag "Upload file(s)", :disable_with => "Uploading files..."


