- include_javascript('specific/attachments/_form_content_file')
= form_for :attachment, :url => attachments_url, :html => { :multipart => true} do |form|
  %div
    %h4 #{t('attachments.forms.form_content_file.header', :class_name => @asset.class.model_name.human)}:
    %span.asset= WorkExport.new.drive_csl("apa", @asset).html_safe
    %div
      = render "shared/sherpa_status", :publisher => @asset.publisher, :show_explanation => true
    %br/

  %fieldset
    %legend= t('attachments.forms.form_content_file.legend')
    #upload_files
      %label #{t('attachments.forms.form_content_file.label')}:
      -# Allow uploading multiple files
      = link_to_function t('common.attachments.add_files'), "add_upload_box('#{add_upload_box_attachments_path}')"
      %br/
      = render 'upload_file', :form => form

    -# save asset id as work_id
    = hidden_field_tag :work_id, @asset.id

    -# Save type of attachment
    = hidden_field_tag :type, @attachment.class

    -# Display deposit license from SWORD, if possible
    - if @license
      %p
        = check_box_tag 'license_agree', 'yes'
        = t('common.attachments.agree_to_terms')
        = link_to_function t('common.attachments.deposit_license'), "toggle_license()"
        for
        = @repository_name || t('common.attachments.local_repository')

      #license_warning.warning{:style => "display: none;"}
        = t('common.attachments.must_agree_to_license')
      #license.scrollarea.span-12{:style => "display: none;"}
        = @license

  %p.submit
    = submit_tag t('common.attachments.upload_files'), :disable_with => t('common.attachments.uploading_files')

