/ Render a 404 page
- @title = "?"
- include_stylesheet('specific/shared/_application_error')
/ ### Header ###

#header-white.span-24
  .span-22.prepend-1.header-white
    #{link_to(image_tag($APPLICATION_LOGO, :alt => t('personalize.application_name')), works_path)}


/ ### Main ###
.span-24
  .span-22.prepend-1.main
    %h2 #{t 'shared.application_error.header'}
    .span-12
      %ol
        %li #{t('shared.application_error.list_1_html', :link => link_to t('personalize.application_name'), works_path)}
        %li #{t('shared.application_error.list_2_html', :link => link_to t('personalize.application_name'), works_path)}
        %li
          #{t('shared.application_error.list_3')}
          %a{:href=> "mailto:#{$SYSADMIN_EMAIL}?subject=#{t('shared.application_error.email_subject', :app_name => t('personalize.application_name'))}"} #{$SYSADMIN_EMAIL}

    .span-8.prepend-2.last
      #{image_tag("chucks.jpg")}