%li{ :class => ['nlm-citation ', citation.reftype.class_name, cycle(" even", " odd")]}
  %h4
    = citation.reftype.refworks_reftype
  = format_citation_apa_to_html(citation)
  - if @current_user != :false
    .admin
      =link_to(" Edit?", :controller => 'citations', :action => "edit", :id => citation.id)
  .links
    = link_to_findit(citation)
    = " | " 
    = link_to_unless(citation.links.to_s.empty?, "Direct link", citation.links)
  .tags
    - citation.tags.each do |tag|
      = link_to tag.name.gsub(/-/, ' ').strip, {:controller => "search", :action => "experts", :query => tag.name.gsub(/-/, ' ').strip}