%div#citations{:class => "span-14 prepend-1"}
  - if @q
    %div{:class => "span-7"}
      %h3="Citations (#{@q.total_hits})"

    / Sort Form
    %div{:class => "span-5 append-1 last", :style => "text-align:right;"}
      - form_tag "", :method => :get do
        = hidden_field_tag "q", @query
        = hidden_field_tag "fq", @filter
        - @page = 1 if @page == 0
        = hidden_field_tag "page", @page
        Sort by:
        %select{:name => "sort"}
          - ["year", "score"].each do |opt|
            - if opt == @sort
              %option{:name => "#{opt}", :selected => "selected", :value => "#{opt}"}= opt.titleize
            - else
              %option{:name => "#{opt}", :value => "#{opt}"}= opt.titleize
        = submit_tag 'Go'

    / CitationType Filter
    %div{:class => "span-14"}
      %ul.types
        -@facets[:types].each do |p|
          %li
            =add_filter(@query,@sort,@filter,"type_facet",p.name,p.value)

    %div{:class => "span-12 pagination", :style => "text-align:center;"}= will_paginate WillPaginate::Collection.new((params[:page]||1), 10, @q.total_hits)

    %ol{:class => "span-12 citations", :style => "clear:both;"}
      - @docs.each do |citation, score|
        = render :partial => "shared/citation", :locals => {:citation => citation, :score => score}
        
    %div{:class => "span-12 pagination", :style => "text-align:center;"}= will_paginate WillPaginate::Collection.new((params[:page]||1), 10, @q.total_hits)