-#
-# Render Co-Author Table from Solr data
-#

-# Size must be greater than 1, since person is not a co-author with him/herself

%h4 #{t 'shared.coauthors_table.header', :university_name => t('personalize.university_short_name')}
%table
  %thead
    %tr
      %th #{t 'shared.coauthors_table.last_name'}
      %th #{t 'shared.coauthors_table.work_count'}
  %tbody
    -@facets[:people_data].each do |p|
    - last_name, id, image_url = Person.parse_solr_data(p.name)
    - #Skip over the current person in the co-author listing
    - next if @current_object.kind_of?(Person) and @current_object.id == id.to_i
      %tr
        %td.person-image #{link_to(image_tag(image_url, :size => "32x45", :alt => last_name, :title => last_name), person_path(id))}
        %td.text-center #{p.value}