-# Render Information about the Work
-# of which the current work is a duplicate

-# Get listing of all possible duplicates from Solr
- include_stylesheet('specific/shared/_duplicate_of_work')

/ Duplicate candidates
.duplicate_box
  - Index.possible_accepted_duplicates(work).each do |dupe|
    - if dupe['issn_isbn']
      %span.gbs-thumbnail.gbs-link-to-preview.right.padded{:title => "ISBN:#{dupe['issn_isbn'].gsub(" ", "")}"}
    %strong #{link_to "#{dupe['title']}", work_path(dupe['pk_i'])}
    %h5 #{dupe['type']}
    -#display status of a work, if specified
    = render "shared/work_status", :work => dupe
    = render subclass_partial_for(dupe), :work => dupe

    .links
      #{link_to t('app.edit'), edit_work_path(dupe['pk_i'], :return_path=>@return_path)}