-# Build Refine Results sidebar, using facet information from Solr

.span-5
  .left_box
    .box_heading #{t 'shared.facets.heading'}

    - remove_filter = facet_remove_filter(@filter, @current_object)
    - if remove_filter.present?
      .facet
        %ol.facet_filters
          - remove_filter.each do |filter|
            %li.active-filter= remove_filter(params, filter)


    / WorkType Filter
    - if @facets[:types].present?
      .facet
        .facet_heading #{t 'shared.facets.formats'}
        %ol.facet_filters
          - @facets[:types].each do |p|
            %li
              = add_filter(params, "type_facet", p.name, p.value, t_solr_work_type(p.name))

    / Groups
    -#Remove group facet that represents the current group
    - @facets[:groups].delete_if{ |g| @current_object.kind_of?(Group) and @current_object.name == g.name }
    = render 'shared/facet', :facet_key => :groups, :facets => @facets[:groups]

    / People
    -#Remove person facet that represents the current person
    - @facets[:people].delete_if{ |p| @current_object.kind_of?(Person) and @current_object.name == p.name }
    = render 'shared/facet', :facet_key => :people, :facets => @facets[:people]

    / Years - to use facet partial need to sort @facets[:years] by name, descending
    = render 'shared/facet', :facet_key => :years, :facets => @facets[:years].sort {|a, b| b.name <=> a.name }

    / Publications
    -#Remove Publication facets that represents the current publication or "Unknown"
    - @facets[:publications].delete_if{ |p| p.name == "Unknown" or (@current_object.kind_of?(Publication) and @current_object.name==p.name) }
    = render 'shared/facet', :facet_key => :publications, :facets => @facets[:publications]

    / Publishers
    -#Remove Publisher facets that represents the current publisher or "Unknown"
    - @facets[:publishers].delete_if{ |p| p.name == "Unknown" or (@current_object.kind_of?(Publisher) and @current_object.name==p.name) }
    = render 'shared/facet', :facet_key => :publishers, :facets => @facets[:publishers]
