#header.span-24
  .span-23.prepend-1

    .span-12
      #{link_to(image_tag($APPLICATION_LOGO, :alt => t('personalize.application_name')), works_path)}

    .span-7.prepend-3.last
      = form_tag search_path, :method => :get, :class => "header-search-form" do
        #search-box
          #{text_field_tag(:q, nil, :size => 21)}
          #{ submit_tag t('app.search')}
        %span.advanced-search-link #{link_to t('app.advanced'), advanced_search_path}

    = render 'shared/tagline_and_locales'

    .span-14
      = render 'shared/header_nav'

    .span-8.last
      = render 'shared/header_global_nav'
