- controller_name = params[:controller]
%ul#navigation
  - if logged_in? and current_user.has_role?("admin", System)
    - bibapp_cache(:controller => 'shared', :action => 'partial', :action_suffix => 'header_nav_admin', :controller_name => controller_name) do
      %li{give_current_id_if_equal("admin", controller_name)}
        %a{:href => admin_index_url}
          %span #{t 'app.admin'}
  - bibapp_cache(:controller => 'shared', :action => 'partial', :action_suffix => 'header_nav_main', :controller_name => controller_name) do
    %li{give_current_id_if_equal("works", controller_name)}
      %a{:href => works_path(:view => 'all')}
        %span #{Work.model_name.human_pl}

    %li{give_current_id_if_equal("groups", controller_name)}
      %a{:href => groups_path}
        %span #{Group.model_name.human_pl}

    %li{give_current_id_if_equal('people', controller_name)}
      %a{:href => people_path}
        %span #{Person.model_name.human_pl}

    %li{give_current_id_if_equal('publications', controller_name)}
      %a{:href => publications_path}
        %span #{Publication.model_name.human_pl}

    %li{give_current_id_if_equal('publishers', controller_name)}
      %a{:href => publishers_path}
        %span #{Publisher.model_name.human_pl}

  - if session[:saved] && session[:saved].items.size > 0
    - bibapp_cache(:controller => 'shared', :action => 'partial', :action_suffix => 'header_nav_saved') do
      %li
        %a{:href => saved_path}
          %span #{t 'app.saved'}