#header
  %h1 
    = link_to "UW BibApp", :controller => "groups", :action => "index"
    %sup alpha
  %ul#nav
    %li
      = link_to_login_or_admin
    %li 
      = link_to "Search", :controller => "search", :action => "index"
    %li 
      = link_to "About", :controller => "about", :action => "index"
    %li 
      = link_to "Contact", :controller => "about", :action => "index"
