%ul#global-nav.header-nav
  %li
    = static_html_link('about.html', t('app.about'))
  %li
    = static_html_link('faq.html', t('app.faq'))
  - if logged_in?
    %li
      %span #{link_to t('app.account'), edit_user_path(current_user)}
    %li
      %span #{link_to t('app.logout'), logout_path}
  - else
    %li
      %span #{link_to "#{t('app.login')} | #{t('app.signup')}", login_path(:return_to => request.fullpath)}
