- include_stylesheet('specific/shared/_keyword_cloud')
- include_javascript('specific/shared/_keyword_cloud')

%h3 #{t 'shared.keyword_cloud.header'}
.text-center
  -if keywords
    %ul
      - keywords.each do |kw|
        %li{:class => "tag#{kw.count}"}
          = link_to h(kw.name), search_path(:fq => keyword_filter(kw, @current_object))

    #timeline-form.text-center
      = form_tag self.send("timeline_#{current_object.class.to_s.downcase}_keywords_path", current_object), :method => :get do
        = submit_tag t('shared.keyword_cloud.submit'), :onclick=>"go_dim()"

  #darkBackgroundLayer.darkenBackground{:name=>"darkBackgroundLayer", :style=>"display:none;"}
  %img#spinner.highZ{:src=>"/images/ajax-loader.gif", :style=>"display:none;"}
