- include_stylesheet('specific/shared/_keyword_cloud')
- include_javascript('specific/shared/_keyword_cloud')

#tagcloud.right_box_no_border.span-7
  %h3 Popular research topics
  .text-center
    -if keywords
      %ul
        - keywords.each do |kw|
          %li{:class => "tag#{kw.count}"}
            - filter = Array.new
            - filter << "keyword_facet:" + '"' + kw.name + '"'
            - unless @current_object.nil?
              - filter << "#{@current_object.class.to_s.downcase}_facet:" + '"' + @current_object.name + '"'
            = link_to h(kw.name), search_path(:fq => filter)

      #timeline-form.text-center
        - if current_object.class.to_s.downcase == "group"
          = form_tag "#{group_keywords_path(current_object)}/timeline", :method=>:get do
            = submit_tag "Load Timeline View", :onclick=>"go_dim()"
        - elsif current_object.class.to_s.downcase == "person"
          = form_tag "#{person_keywords_path(current_object)}/timeline", :method=>:get do
            = submit_tag "Load Timeline View", :onclick=>"go_dim()"

    #darkBackgroundLayer.darkenBackground{:name=>"darkBackgroundLayer", :style=>"display:none;"}
    %img#spinner.highZ{:src=>"/images/ajax-loader.gif", :style=>"display:none;"}
