%ul#local-pages
  %li.current= link_to "Personal Info", new_person_path
  %li= link_to "Pen Names", "javascript:void(0)", :disabled => "true"
  %li= link_to "Photo", "javascript:void(0)", :disabled => "true"
  %li= link_to "Groups", "javascript:void(0)", :disabled => "true"
  %li= link_to "Works", "javascript:void(0)", :disabled => "true"
