/ Render a 404 page
- @title = t('shared.not_found.title')

= render :layout => 'layouts/main_body', :locals => {:header => @title}  do
  - if controller.controller_name == "people" || controller.controller_name == "groups"
    %h2 #{t 'shared.not_found.bad_link', :type => controller.controller_name.camelize.singularize.constantize.model_name.human,
      :university_name => t('personalize.university_short_name')}

  %p #{t 'shared.not_found.try_searching'}

#facets.span-24
  .span-5.prepend-1
    = render "shared/people_list", :count => 5
  .span-5.prepend-1
    = render "shared/groups", :count => 5
  .span-5.prepend-1
    = render "shared/publications", :count => 5
  .span-4.prepend-1.last
    = render "shared/publishers", :count => 5