/ Render a 404 page
- @title = "Error 404: Page not found"

= render :layout => 'layouts/main_body', :locals => {:header => 'Error 404: The page cannot be found'}  do
  - if controller.controller_name == "people" || controller.controller_name == "groups"
    %h2
      You may have followed a link to a #{controller.controller_name.singularize} no
      longer at #{$UNIVERSITY_SHORT_NAME}.

  %p Did you try searching? Enter a keyword(s) in the search field above.
    
#facets.span-24
  / People
  .span-5.prepend-1
    = render :partial => "shared/people_list", :locals => {:count => 5}

  / Groups
  .span-5.prepend-1
    = render :partial => "shared/groups", :locals => {:count => 5}

  / Publications
  .span-5.prepend-1
    = render :partial => "shared/publications", :locals => {:count => 5}

  / Publishers
  .span-4.prepend-1.last
    = render :partial => "shared/publishers", :locals => {:count => 5}