%ul
  %li
    = form.label :import_file, "#{t('shared.upload_form.upload')}:"
    = form.file_field :data, :class=>'text'
    - if @person
      = hidden_field_tag :person_id, @person.id

%p.buttons
  = submit_tag t('shared.upload_form.submit'), :disable_with => t('shared.upload_form.disable')