%div{:class => "vcard span-8"}
  %div{:class => "span-4"}
    - if !o.image_url.nil?
      - # Do nothing
      = image_tag(o.image_url)
    - else
      %img{:src => "/images/man.jpg"}
    %div.image_link
      -# If image already exists, we want to edit existing one!
      image:
      - if !o.image_url.nil?
        = link_to "change", {:controller => "attachments", :action => "edit", :params => {"type" => "Image", "id" => o.image.id}}
        |
        = link_to "delete", attachment_path(o.image), :method => :delete
      - else
        = link_to "change", {:controller => "attachments", :action => "new", :params => {"asset_id" => o.id, "asset_type" => o.class.name.to_s, "type" => "Image"}}
  %a{:class => "fn url hide", :href => ""}
    =o.name
  %div{:class => "adr"}
    %span{:class => "work"}
    %div{:class => "street-address"}
      =o.office_address_line_one
    %span{:class => "locality"}
      =o.office_city
    %span{:class => "region"}
      =o.office_state
    %span{:class => "postal-code"}
      =o.office_zip
  - if o.phone
    %div{:class => "tel"}
      %span{:class => "type hide"} Work
      = o.phone
  - if o.email
    %div{:class => "email"}
      %span{:class => "type hide"} Work
      %a{:href => "mailto:#{o.email}"}
        = o.email
    
  
