-#
-# Render Information about the Work
-#
-# Possible Input Variables:
-#    :work         => work to display (REQUIRED)
-#    :allow_select => whether or not to display checkbox next to displayed work
-#    :show_status  => display status of work in BibApp (dupe, accepted, etc.)
-#    :show_dupe    => display possible accepted works for dupes
-#    :links_array  => Array of default links to display under the work
-#                     Valid values: {:find_it, (local library "find it" link)
-#                                    :saved,   (adds/removes from saved)
-#                                    :edit,    (edit work)
-#                                    :none     (trumps all)}

- include_stylesheet('specific/shared/_work')
-# Initialize optional input variables
- allow_select ||= false
- show_status ||= false
- show_dupes ||= false
- links_array ||= [:find_it, :saved]  #default to just 'find_it' and 'saved' links

%li.work{:class => "#{cycle('odd','even')}"}
  -#If work can be selected (and user is logged in), add a checkbox
  - if allow_select && logged_in?
    .select_multiple
      = check_box_tag "work_id[]", "#{work['pk_i']}"

  - if show_dupes
    -#If this is a duplicate (status==2), display the "accepted" work this is a duplicate of
    - if work['status'] == Work::STATE_DUPLICATE
      = render "shared/duplicate_of_work", :work => work

  -#Display the work
  %div{:class => (show_dupes ? "screen-format-dupes" : "screen-format")}
    - if work['issn_isbn'] && work['issn_isbn'].length > 9
      %span.gbs-thumbnail.gbs-link-to-preview.work-preview{:title => "ISBN:#{work['issn_isbn'].gsub(' ', '')}"}
    %strong #{link_to "#{work['title']}", work_path(work['pk_i'])}
    %h5.work-type #{t_solr_work_type(work['type'])}
    -#display status of a work, if specified
    = render("shared/work_status", :work => work) if show_status
    = render subclass_partial_for(work), :work => work

    .links
      - unless links_array.include? 'none'
        = links_array.collect {|link| work_action_link(link, work, @return_path, @saved)}.compact.join(' | ').html_safe

  .clear-both