%p.metadata 
  - #Authors
  = link_to_authors(work)

  - #Publisher Name
  %br/
  = link_to_work_publisher(work)

  -if work['year'] != nil
    ="(#{work['year']})"

  - # ISBN - @todo: Standardize ISBNs during ingest
  - if work['issn_isbn'] != nil
    = "; ISBN: #{work['issn_isbn'].gsub(" ", "")}"
    

  