-if @asset.kind_of?(Person)
  - @title = "#{@person.display_name}: Photo"
  - if current_user_role?("editor", @person)
    = render :layout => 'layouts/admin_bar' do
      %li=link_to "Delete this person", person_url(@person), :method => :delete, :confirm => 'Permanently delete this person? This cannot be undone.'
      %li= link_to "Add a new person", new_person_path
-else
  - @title = "Upload #{@attachment.class.to_s.underscore.titleize}"


.span-24
  .span-22.prepend-1
    = error_messages_for :attachment

    -if @asset.kind_of?(Person)
      %h2 #{link_to(h(@person.display_name), person_path(@person)).html_safe}: Photo
      = render :partial => "shared/local_nav", :locals => {:object => "person", :state => "edit"}
    -else
      %h2="Upload #{@attachment.class.to_s.underscore.titleize}"

    .column.span-14
      = render :partial => "attachments/forms/form_#{@attachment.class.name.to_s.underscore}"
