= render :partial => "shared/flash_messages"

%div{:class => "column span-24"}
  %h3="#{@attachment.class.name.to_s} Information"
  
  
  - if @attachment.asset and @attachment.asset.kind_of?(Work)
    %div{:class => "column span-12"}
      %h4="Attached to #{@attachment.asset.class.to_s.underscore.humanize}:"
      %span.asset= render :partial => "works/apa/#{@attachment.asset.class.name.to_s.underscore}", :locals => { :c => @attachment.asset }  
  - elsif @attachment.asset and @attachment.asset.kind_of?(Person)
    %div{:class => "column span-12"}
      %h4="Attached to #{@attachment.asset.class.to_s.underscore.humanize}: #{@attachment.asset.name}"
      
  %div{:class => "column span-12"}
    %fieldset
      %div.field
        %label File Name:
        %span.field_value
          =link_to "#{@attachment.filename}", @attachment.public_filename
      %div.field
        %label File Size:
        %span.field_value=@attachment.size
      %div.field
        %label Content Type:
        %span.field_value=@attachment.content_type  
  %div{:class => "column span-12"}
    - if @attachment.asset and @attachment.asset.kind_of?(Work)
      =link_to "Return to #{@attachment.asset.class.to_s.underscore.humanize}", work_url(@attachment.asset)
    - if @attachment.asset and @attachment.asset.kind_of?(Person)
      =link_to "Return to #{@attachment.asset.class.to_s.underscore.humanize}: #{@attachment.asset.name}", person_url(@attachment.asset)  