%table#publishers
  %thead
    %tr
      %th #{t 'app.select'}
      %th #{t 'app.title'}
      %th #{t 'app.source'}
      %th #{Publication.model_name.human_pl}
  %tbody
    -@current_objects.each do |publisher|
      %tr#publisher.publisher{:id => publisher.id, :class => cycle("odd", "even")}
        %td #{link_to t('app.add'), add_to_box_publishers_url(:new_pa => publisher.id, :page => @page)}
        %td #{link_to publisher.name, publisher_path(publisher)}
        %td= publisher.publisher_source.name if publisher.publisher_source
        %td #{publisher.publications.length}
