%fieldset
  %legend Publisher
  = form_for @publisher do |form|
    %p
      %label Name
      %br/
      = form.text_field :name
    %p
      %label URL
      %br/
      = form.text_field :url
    %p
      %label Romeo Color
      %br/
      = form.text_field :romeo_color
    %p
      %label Copyright Notice
      %br/
      = form.text_field :copyright_notice
    %p
      %label Publisher's Copy Allowed?
      %br/
      = form.check_box :publisher_copy
    -if @publisher.authority_id
      %p
        %label Publisher Authority Record
        %br/
        = form.collection_select :authority_id, @publishers, :id, :name, {}, {:class => "span-12"}
    %p.submit
      = submit_tag 'Save and show', :name => :save_and_show
      = submit_tag 'Save and go to list', :name => :save_and_list