%fieldset
  %legend #{Publisher.model_name.human}
  = form_for @publisher do |form|
    %p
      %label #{Publisher.human_attribute_name(:name)}
      %br/
      = form.text_field :name
    %p
      %label #{Publisher.human_attribute_name(:url)}
      %br/
      = form.text_field :url
    %p
      %label #{Publisher.human_attribute_name(:romeo_color)}
      %br/
      = form.select(:romeo_color, options_for_select(sherpa_colors.collect {|c| [I18n.t("personalize.sherpa_colors.#{c}.name"), c]}, :selected =>  @publisher.romeo_color || 'unknown'))
    %p
      %label #{Publisher.human_attribute_name(:copyright_notice)}
      %br/
      = form.text_field :copyright_notice
    %p
      %label #{t '.copy_allowed'}
      %br/
      = form.check_box :publisher_copy
    -if @publisher.authority_id
      %p
        %label #{t '.auth_record'}
        %br/
        = form.collection_select :authority_id, @publishers, :id, :name, {}, {:class => "span-12"}
    %p.submit
      = submit_tag t('.save_show'), :name => :save_and_show
      = submit_tag t('.save_go'), :name => :save_and_list