%table#publishers
  %tr
    %th.span-12 #{t '.publisher_name'}
    %th.span-8= t('.recent_year')
    %th.span-1.last #{Publication.model_name.human_pl}
  - most_recent_years = most_recent_year_hash(@current_objects)
  - publication_counts = publication_count_hash(@current_objects)
  - @current_objects.each do |publisher|
    %tr{:class => cycle("odd", "even")}
      %td
        - color = publisher.sherpa_color_or_unknown_as_sym
        - cache(:controller => 'publishers', :action => 'index', :action_suffix => "#{I18n.locale}-shared-sherpa_icon-#{color}") do
          = render 'shared/sherpa_icon', :color => color
        #{link_to name_or_unknown(publisher.name), publisher_path(publisher)}
      %td #{most_recent_years[publisher.id] || ''}
      %td #{publication_counts[publisher.id] || '0'}
