- include_data_tables
- include_javascript('specific/publishers/authorities')
- if logged_in? && current_user.has_any_role?("editor", "Group")
  = render :layout => 'layouts/admin_bar' do
    %li #{link_to "Add a Publisher", new_publisher_path}

.span-24.column
  .span-22.prepend-1.column
    %h2 Admin Publisher Authorities

    #authority_form
      %p To set publisher authorities, add publication records to the box below, select one record as the authority, and click the <em>Set Authority</em> button.
      =render :partial => "authority_form", :object => @pas, :locals => {:page => @page}

    = render :partial => "shared/alpha_pagination"

    %table#publishers
      %thead
        %tr
          %th Select
          %th Title
          %th Source
          %th Publications
      %tbody
        -@current_objects.each do |publisher|
          %tr#publisher.publisher{:id => publisher.id, :class => cycle("odd", "even")}
            %td #{link_to 'add', add_to_box_publishers_url(:new_pa => publisher.id, :page => @page)}
            %td #{link_to "#{publisher.name}", publisher_path(publisher)}
            %td=publisher.publisher_source.name if publisher.publisher_source
            %td #{publisher.publications.length}

    %br/
    %br/
    = render :partial => "shared/alpha_pagination"

