%h3= @publisher.name

-form_for @publisher do |form|
  %div
    = form.check_box :archive_publisher_copy
    Allows archiving publisher PDF
  %div
    Copyright statement (DSpace XML)
    = form.text_field :dspace_xml
  %div
    = submit_tag "Save"
    = link_to "Back to list", publishers_path