/ === Publishers === Show ===
/ Main
- if !@export.empty?
  %div{:class => "span-24"}
    %div{:class => "span-22 prepend-1"}
      %h2 Works
      = @works

- else
  %div{:class => "span-24"}
    %div{:class => "span-22 prepend-1"}
      - if logged_in? && current_user.has_role?("editor", @publisher)
        %ul#edit-actions
          %li=link_to "Edit", edit_publisher_path(@publisher)
        
      = render :partial => "shared/flash_messages"
      
    %div{:class => "span-22 prepend-1"}
      %h2= @publisher.name

      / People
      = render :partial => "shared/people", :locals => {:count => 10}

      / Groups
      = render :partial => "shared/groups", :locals => {:count => 10}

      %div#results{:class => "span-22"}
        / Facets
        = render :partial => "shared/facets"

        / Works 
        = render :partial => "shared/works"
  
      / Authority
      %div#authority{:class => "span-9"}
        - if @publisher.authority_for.size > 0
          %h3=@publisher.name
          %p Authorized name for:
          %ul.authority-children
            - @publisher.authority_for.collect{|c| c.name}.uniq.each do |auth|
              %li= auth
        - else
          %h3 Authorized Title
          %p=link_to @publisher.authority.name, publisher_path(@publisher.authority)