/ === Publishers === Show ===
/ Main
- if !@export.empty?
  %div.span-24
    %div.span-22.prepend-1
      %h2 Works
      = @works

- else
  - if logged_in? && current_user.has_role?("editor", @name_string)
    - content_for :admin_bar do
      / #### Admin Actions ###
      %div.span-24#admin-actions
        %ul#edit-actions
          %li=link_to "Edit this publisher", edit_publisher_path(@publisher)

  %div.span-24

    %div.span-22.prepend-1
      %h2= @publisher.name

      / People
      = render :partial => "shared/people", :locals => {:count => 10}

      / Groups
      = render :partial => "shared/groups", :locals => {:count => 10}

      %div#results.span-22
        / Facets
        = render :partial => "shared/facets"

        / Works 
        = render :partial => "shared/works"
  
      / Authority
      %div#authority.span-9
        - if @publisher.authority_for.size > 0
          %h3=@publisher.name
          %p Authorized name for:
          %ul.authority-children
            - @publisher.authority_for.collect{|c| c.name}.uniq.each do |auth|
              %li= auth
        - else
          %h3 Authorized Title
          %p=link_to @publisher.authority.name, publisher_path(@publisher.authority)