/ === Publishers === Show ===
/ Main
- include_stylesheet('specific/publishers/show')
- include_stylesheet('common/sherpa')
- if !@export.empty?
  .span-24
    .span-22.prepend-1
      %h2 Works
      = @works

- else
  - if logged_in? && current_user.has_any_role?("editor", Group)
    - content_for :admin_bar do
      / #### Admin Actions ###
      .span-24#admin-actions
        %ul#edit-actions
          %li #{link_to "Edit this publisher", edit_publisher_path(@publisher)}

  .span-24

    .span-22.prepend-1
      %h2.span-18.left #{ @publisher.name}
      %span.span-4.right
        = render :partial => 'shared/sherpa_status', :locals => {:publisher => @publisher}

      %div.clear-both
      / People
      = render :partial => "shared/people", :locals => {:count => 10, :randomize => false}

      / Groups
      = render :partial => "shared/groups", :locals => {:count => 10}

      #results.span-22
      
        / Search Within
        .span-5
          .left_box
            .box_heading Search Within
            = form_tag publisher_path, :method => :get do
              = text_field_tag(:q, value = params[:q], {:size => 15})
              = submit_tag 'Go'

          / Facets
          = render :partial => "shared/facets"

        / Works 
        = render :partial => "shared/works"
  
      / Authority
      #authority.span-22
        - if @publisher.authority_for.size > 0
          %h4
            #{ @publisher.name }
            &ndash; authorized name for:
          %ul.authority-children
            -# @publisher.authority_for.collect{|c| c.name}.uniq.each do |auth|
            - @publisher.authority_for.uniq.each do |auth|
              %li= link_to auth.name, publisher_path(auth.id)
        - else
          %h3 Authorized Title
          %p #{link_to @publisher.authority.name, publisher_path(@publisher.authority)}