%h3 Author
%p
  ="Name: #{@author.name}"
  %span=link_to "Edit", edit_author_path(@author)

%div{:class => "column span-24"}
  %div{:class => "column span-12"}
    %h4="Citations (#{@author.citations.size})"
    %ul.citations
      - counter = 0
      - @author.citations.each do |c|
        - # We would grok the citation style from the user preferences?
        = render :partial => "citations/apa/#{c.class.name.to_s.underscore}", :locals => { :c => c }
        - counter = counter + 1
        - break if counter > 10

  #facets{:class => "column span-10 append-2 last"}
    %div{:class => "column span-5"}
      = render :partial => "shared/facet", :locals => {:values => @author_facets[:values], :name => @author_facets[:name]}
          
    %div{:class => "column span-5 last"}
      = render :partial => "shared/facet", :locals => {:values => @year_facets[:values], :name => @year_facets[:name]}

  %div{:class => "column span-10 append 2"}
    = render :partial => "shared/facet", :locals => {:values => @publication_facets[:values], :name => @publication_facets[:name]}


    
  