%table
  %thead
    %tr
      %td #{t('.batch')}
      %td #{t('.imported_for')}
      %td #{t('app.date')}
      %td #{t('app.status')}
  - if @authorized
    - @imports.each do |import|
      %tbody
        %tr
          %td= link_to t('common.imports.batch_id', :id => import.id), user_import_path(current_user, import.id)
          %td= imported_for(import)
          %td= import.created_at
          %td= t("common.imports.states.#{import.state}")