= form_tag destroy_multiple_works_url, :method => :delete, :name => "works_form", :id => 'works_form' do
  #bulk_links
    = check_box_tag "select_works", "yes", false, :id => 'global-checkbox'
    %strong Select All
    |
    =submit_tag "Delete selected works"
    = hidden_field_tag "return_path", @return_path

  .span-14= will_paginate @works

  %ol#work-list.span-14.works.clear-both
    - @works.each do |work|
      = render "shared/work", :work => Index.work_to_solr_hash(work), :allow_select => true, :show_status=>true, :links_array=>[:edit]

  .span-14= will_paginate @works