/ Sort Form
- include_javascript('specific/imports/_works')
.span-13.append-1.last
  = form_tag "#works", :method => :get, :name => "works_form" do
    #bulk_links
      = check_box_tag "select_works", "yes", false, :id => 'global-checkbox'
      %strong="Select All"
      |
      =button_to_function "Delete selected works", "submit_delete_form(document.works_form, 'work_id[]', '#{destroy_multiple_works_path}');"
      
    #sort-by
      %label Show:
      %select{:name => "rows"}
        - ["10", "20", "50", "100", "250", "500"].each do |opt|
          - if opt == @rows
            %option{:selected => "selected", :value => "#{opt}"}= opt.titleize
          - else
            %option{:value => "#{opt}"}= opt.titleize
      
      - @page = 1 if @page == 0
      = hidden_field_tag "return_path", @return_path
      -#Authenticity token is necessary so that Rails doesn't think this request is fraudulent (when someone clicks "delete selected" link)
      = hidden_field_tag "authenticity_token", form_authenticity_token

      = submit_tag 'Go'

    .span-14= will_paginate @works

    %ol#work-list.span-14.works.clear-both
      - @works.each do |work|
        = render :partial => "shared/work", :locals => {:work => Index.work_to_solr_hash(work), :allow_select => true, :show_status=>true, :links_array=>[:edit]}

    .span-14= will_paginate @works