.left.span-6.append-1
  / Works added
  %table.import-review-table
    %thead
      %tr
        %th #{Work.model_name.human_pl}
        %th #{t('app.count')}
    %tbody
      %tr
        %td #{t('.new_works')}
        - ct = (@work_batch.size - @dupe_count - err_ct)
        %td= ct < 0 ? 0 : ct
      %tr
        %td  #{t('.duplicate_works')}
        %td= @dupe_count
      %tr
        %td #{t('app.errors')}
        %td= err_ct
    %tfoot
      %tr
        %td #{t('app.total')}
        %td#works_imported_total= @work_batch.size
