-if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li=link_to_unless_current "Add an import", new_user_import_path(current_user)

= render :layout => 'layouts/main_body', :locals => {:header => "Imports for #{User.find(params[:user_id]).email}"} do
  = will_paginate @imports
  %table
    %thead
      %tr
        %td Batch #
        %td Imported For
        %td Date
        %td Status
    - if @authorized
      - @imports.each do |import|
        %tbody
          %tr
            %td=link_to "Batch-#{import.id}", user_import_path(current_user, import.id)
            %td=imported_for(import)
            %td=import.created_at
            %td=import.state