/ === Import === New ===
/ Main
- if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li=link_to_unless_current "Show all Imports", user_imports_path
    %li=link_to_unless_current "Add an Import!", new_user_import_path

= render :layout => 'layouts/main_body', :locals => {:header => body_header(@person)} do

  .right
    %h3 Select a type:
    %ul
      %li= link_to_unless_current "Batch Import", new_user_import_path(current_user)
      %li -----
      = render :partial => 'shared/work_type_list'

  = render :partial => 'batch_import_form'
