/ === Works === Review-Batch ===
/ Main
- include_stylesheet('specific/imports/show')
- include_javascript('specific/imports/show')

= render :layout => 'layouts/admin_bar' do
  %li=link_to_unless_current "Show my imports", user_imports_path(current_user)
  %li=link_to_unless_current "Add an import", new_user_import_path(current_user)

= render :layout => '/layouts/main_body_no_h2' do

  %h2
    Review Batch -
    %span.import-review-batch-header Imported For #{imported_for(@import)}

  / Right - Admin div
  .import-admin-div
    - case @import.state
      - when "rejected"
        =render 'rejected'
      - when "processing"
        = render 'processing'
      - when "accepted"
        = render 'accepted'
      - else #includes 'reviewable' case
        = render 'default'

  -unless @import.state == "processing"
    = render 'details'
