-# requires submit_url
#results.span-22
  .span-5
    .left_box
      .box_heading Search Within
      = form_tag submit_url, :method => :get do
        = text_field_tag(:q, params[:q], :size => 15)
        = submit_tag 'Go'

    = render "shared/facets"

  = render "shared/works"
