%li{:class => "citation_#{c.class.name.to_s.underscore}"}
  %span.citation-type="#{c[:type]}"
  %br/
  %span.author_strings
    - c.author_strings.each do |as|
      %span.author_strings=link_to "#{as.name}", author_strings_path(as)
  %span.year="(#{c.year}). "
  %span.title="#{c.title_primary}."
  %span.city-of-publication="#{c.city_of_publication}: "
  %span.publisher=link_to "#{c.publisher.authority.name}", publisher_path (c.publisher.authority.to_param)
