/ Authors
- if !c.name_strings.author.empty?
  %span.authors
    - c.name_strings.author.each do |ns|
      %span.author=link_to "#{ns.name}", name_string_path(ns)

/ Year
-if c.publication_date != nil
  %span.year="(#{c.publication_date.year}). "
  
/ Title
%span.title="#{c.title_primary}. "

/ Conference
%span.conference
  = "In #{c.title_secondary}"

/ Volume
%span.volume=": Vol. #{c.volume}"

/ Publication
%span.publication=link_to "#{c.publication.authority.name}", publication_path(c.publication.authority.to_param)

/ Pages
%span.pages="(#{c.start_page}-#{c.end_page})."

/ Publisher
%span.publisher="#{link_to c.publisher.authority.name, publisher_path(c.publisher.authority.to_param)}."