%li{:class => "citation-#{c.class.name.to_s.underscore} citation-details"}
  %span.name_strings
    - c.name_strings.each do |ns|
      %span.name_string=link_to "#{ns.name}", name_string_path(ns)
  -if c.publication_date != nil
    %span.year="(#{c.publication_date.year}). "
  %span.title="#{c.title_primary}. "
  %span.conference
    = "In #{c.title_secondary}"
  %span.volume=": Vol. #{c.volume}"
  %span.publication=link_to "#{c.publication.authority.name}", publication_path(c.publication.authority.to_param)
  %span.start-page="(#{c.start_page}-"
  %span.end-page="#{c.end_page})."
  %span.publisher="#{link_to c.publisher.authority.name, publisher_path(c.publisher.authority.to_param)}."