%li{:class => "citation-#{c.class.name.to_s.underscore}"}
  %span.citation-type="#{c[:type]}"
  %br/
  %span.authors
    - c.authors.each do |a|
      %span.author=link_to "#{a.name}", author_path(a)
  %span.year="(#{c.year}). "
  %span.title="#{c.title_primary}. "
  %span.publication=link_to "#{c.publication.name}", publication_path(c.publication.to_param)
  %span.volume="#{c.volume}"
  %span.issue="(#{c.issue}), "
  %span.start-page="#{c.start_page}-"
  %span.end-page="#{c.end_page}."
  