%li{:class => "citation-#{c.class.name.to_s.underscore}", :style => "list-style:none;"}
  %span.name_strings
    - c.name_strings.each do |ns|
      %span.name_string=link_to "#{ns.name}", name_string_path(ns)
  -if c.publication_date != nil
    %span.year="(#{c.publication_date.year}). "
  %span.title="#{c.title_primary}. "
  %span.publication=link_to "#{c.publication.name}", publication_path(c.publication.to_param)
  %span.volume="#{c.volume}"
  %span.issue="(#{c.issue}), "
  %span.start-page="#{c.start_page}-"
  %span.end-page="#{c.end_page}."
