%li{:class => "citation-#{c.class.name.to_s.underscore}"}
  %span.citation-type="#{c[:type]}"
  %br/
  %span.author_strings
    - c.author_strings.each do |as|
      %span.author_string=link_to "#{as.name}", author_string_path(as)
  %span.year="(#{c.year}). "
  %span.title="#{c.title_primary}. "
  %span.publication=link_to "#{c.publication.name}", publication_path(c.publication.to_param)
  %span.volume="#{c.volume}"
  %span.issue="(#{c.issue}), "
  %span.start-page="#{c.start_page}-"
  %span.end-page="#{c.end_page}."
  