= render :layout => '/layouts/main_body', :locals => {:header => t('passwords.new.header')} do
  %fieldset
    %legend= t('passwords.new.legend')
    = form_for :password, :url => passwords_path do |form|
      %p
        %label #{t 'app.email'}
        %br/
        = form.text_field 'email'
      %p.submit
        = form.submit t('passwords.new.submit')