%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    %p.edit_person_actions
      %strong
        Edit: 
      = link_to @person.first_last, edit_person_path(@person)
      |
      = link_to "Contributorships", {:controller => "contributorships", :action => "index", :params => {"person_id", @person.id}}
      | 
      = link_to "Groups", {:controller => "memberships", :action => "new", :params => {"person_id", @person.id}}
      | 
      = link_to "Pen Names", {:controller => "pen_names", :action => "new", :params => {"person_id", @person.id}}
        
      %h2=link_to "#{@person.first_last}", person_path(@person)
      = render :partial => "shared/vcard", :locals => {:o => @person}
    
    %div{:class => "span-5 last"}
      %h3="Groups (#{@person.groups.size})"
      %ol.groups_alphabetical
        - @person.groups.each do |g|
          %li=link_to "#{g.name}", group_path(g)
        
    %div{:class => "column span-16"}

      %h3
        Citations (
        %span#contributorship_total_entries
          = @contributorships.total_entries
        )
        = link_to 'Add', new_citation_path

      = will_paginate @contributorships

      = render :partial => 'contributorships'
