%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    = render :partial => "shared/flash_messages"
    %p.edit_person_actions
      %strong
        Edit: 
      = link_to "Personal Info", edit_person_path(@person)
      |
      = link_to "Contributorships", {:controller => "contributorships", :action => "index", :params => {"person_id", @person.id}}
      | 
      = link_to "Groups", {:controller => "memberships", :action => "new", :params => {"person_id", @person.id}}
      | 
      = link_to "Pen Names", {:controller => "pen_names", :action => "new", :params => {"person_id", @person.id}}
    

    %h2="#{@status.capitalize} Contributorships for: #{link_to @person.name, person_path(@person)}"
    %div{:class => "column span-14"}
      %ul.actions
        %li=link_to_unless((@status.downcase == "unverified"), "Unverified (#{@person.contributorships.unverified.size})", contributorships_path(:person_id => @person.id, :status => "unverified", :page => @page))
        |
        %li=link_to_unless((@status.downcase == "verified"), "Verified (#{@person.contributorships.verified.size})", contributorships_path(:person_id => @person.id, :status => "verified", :page => @page))
        |
        %li=link_to_unless((@status.downcase == "denied"), "Denied (#{@person.contributorships.denied.size})", contributorships_path(:person_id => @person.id, :status => "denied", :page => @page))

    / Sort Form
    %div{:class => "span-13 append-1 last"}
      - form_tag "#", :method => :get, :name => "contributorships_form" do
        #bulk_links
          = check_box_tag "select_contributorships", "yes", false, :onclick=>"select_all(this, 'contrib_id[]');"
          %strong="Select All"
          |
          =button_to_function "Verify selected contributorships", "submit_verify_form(document.contributorships_form, 'contrib_id[]', '#{verify_multiple_contributorships_path}');"

        #sort-by
          %label Show:
          %select{:name => "rows"}
            - ["10", "20", "50", "100", "250", "500"].each do |opt|
              - if opt == @rows
                %option{:selected => "selected", :value => "#{opt}"}= opt.titleize
              - else
                %option{:value => "#{opt}"}= opt.titleize

          - @page = 1 if @page == 0
          = hidden_field_tag "person_id", @person.id
          = hidden_field_tag "status", @status
          -#Authenticity token is necessary so that Rails doesn't think this request is fraudulent (when someone clicks "delete selected" link)
          = hidden_field_tag "authenticity_token", form_authenticity_token

          = submit_tag 'Go'

        %div= will_paginate @contributorships
      
        = render :partial => 'contributorships'

    %div{:class => "span-7 prepend-1 last"}
      #picture{:class => "span-6"}
        %p= render :partial => "shared/person_image", :locals => {:o => @person}

      %h3="Groups (#{@person.groups.size})"
      %ol.groups_alphabetical
        - @person.groups.each do |g|
          %li=link_to "#{g.name}", group_path(g)