%li
  =link_to "#{citation.title_primary}", citation_path(citation)
  %p 
    %strong Authors:
    - citation.authors.each do |au|
      =link_to "#{au.name}", author_path(au)
    %br/
    %strong Source:
    =link_to "#{citation.publication.authority.name}", publication_path(citation.publication.authority.to_param)
    = "#{citation.volume}(#{citation.issue}), #{citation.start_page}-#{citation.end_page}."
    %br/
    %strong Year:
    ="#{citation.year}"
    %br/
    %strong=link_to_findit(citation)