%h2 #{form_header(@authorizable, @role_name)}
= error_messages_for :role

%h3 #{User.model_name.human_pl} (#{@page})

= render "shared/alpha_pagination"

%ol.users
  -@current_objects.each do |user|
    %li.user
      #{user.email}
      - if user.has_explicit_role? @role_name.downcase, @authorizable
        %strong #{t '.has_permissions', :role => t_bibapp_role_name(@role_name)}
        = link_to t('.remove'), roles_destroy_url(url_opts(user, @role_name, @authorizable))
      - else
        = link_to t('.add', :role => t_bibapp_role_name(@role_name)), roles_create_url(url_opts(user, @role_name, @authorizable))
        - if user.has_role?(@role_name.downcase, @authorizable)
          [#{t '.has_implicitly'}]
