%h2 #{form_header(@authorizable, @role_name)}
= error_messages_for :role

%h3 Users (#{@page})

= render "shared/alpha_pagination"

%ol.users
  -@current_objects.each do |user|
    %li.user
      #{user.email}
      - if user.has_explicit_role? @role_name.downcase, @authorizable
        %strong Already has #{@role_name} permissions
        =link_to " [remove]", roles_destroy_url(url_opts(user, @role_name, @authorizable))
      - else
        =link_to "Add as #{@role_name}", roles_create_url(url_opts(user, @role_name, @authorizable))
        - if user.has_role?(@role_name.downcase, @authorizable)
          [Has role implicitly]
