/ === Roles === Index ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    %ul#edit-actions
      %li= link_to "Add Administrators", {:controller=>"roles", :action=>"new_admin"} 
      %li= link_to "Add Editors", {:controller=>"roles", :action=>"new_editor"}
      
    = render :partial => "shared/flash_messages"
      
  %div{:class => "span-22 prepend-1"}
    - if @authorizable.is_a? Class and @authorizable==System
      %h2="System-wide Roles: #{$APPLICATION_NAME}"
    - elsif @authorizable.kind_of?(Group)
      %h2="Roles for Group: #{link_to @authorizable.name, group_path(@authorizable)}"
    - elsif @authorizable.kind_of?(Person)
      %h2="Roles for Person: #{link_to @authorizable.name, person_path(@authorizable)}"
      
    %div{:class => "span-22 prepend-1"}
      %h3="Administrators"
      - if @authorizable.has_admins?
        %ol.users
          - @authorizable.has_admins.each do |user|
            %li.user
              ="#{user.login} (#{user.email}) "
              - if user.login != "admin"
                - form_tag({:action => "destroy", :method => :delete}, :class=>"inline-form") do
                  - if @authorizable.is_a? Class
                    =hidden_field_tag :authorizable_type, @authorizable.name
                  - else
                    =hidden_field_tag :authorizable_type, @authorizable.class
                    =hidden_field_tag :authorizable_id, @authorizable.id
                  =hidden_field_tag :user_id, user.user_id
                  =hidden_field_tag :role_id, user.role_id
                  =submit_tag "remove"
      - else
        %p
          No administrators currently assigned.
            
      %h3="Editors"
      - if @authorizable.has_editors?
        %ol.users
          - @authorizable.has_editors.each do |user|
            %li.user
              ="#{user.login} (#{user.email})"
              - if user.login != "admin"
                - form_tag ({:action => "destroy", :method => :delete}, :class=>"inline-form") do
                  - if @authorizable.is_a? Class
                    =hidden_field_tag :authorizable_type, @authorizable.name
                  - else
                    =hidden_field_tag :authorizable_type, @authorizable.class
                    =hidden_field_tag :authorizable_id, @authorizable.id
                  =hidden_field_tag :user_id, user.user_id
                  =hidden_field_tag :role_id, user.role_id
                  =submit_tag "remove", :class=>"inline"
      - else
        %p
          No editors currently assigned.
          