<h1><%= t('.heading') %></h1>

<table>
  <tr>
  </tr>

  <% if @keywords %>
      <% for keyword in @keywords %>
          <tr>
            <td><%= link_to t('app.show'), keyword %></td>
            <td><%= link_to t('app.edit'), edit_keyword_path(keyword) %></td>
            <td><%= link_to t('app.destroy'), keyword, :confirm => t('app.are_you_sure'), :method => :delete %></td>
          </tr>
      <% end %>
  <% else %>
    <tr>
      <td>
        <%= t('.no_keywords') %>
      </td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to t('.new_keyword'), new_keyword_path %>
