%fieldset
  %legend #{NameString.model_name.human_pl}
  = form_for @name_string do |form|
    %p
      %label #{t 'app.name'}
      %br/
      = form.text_field :name
      = form.hidden_field :cleaned, :value => true
    %p.submit
      = submit_tag :save