- if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li= link_to t('name_strings.index.add'), new_name_string_path

= render :layout => 'layouts/main_body', :locals => {:header => "#{NameString.model_name.human_pl} (#{@page})"} do
  = render "shared/alpha_pagination"

  %ol#name_strings
    -@current_objects.each do |name_string|
      %li.name_string
        = link_to name_string.name, name_string_path(name_string)
