#content
  - form_tag :action => 'create' do
    = submit_tag "Prepare batch for DSpace..."
    
  %h3= "#{@ready.size}  Are Ready:"
  %ul#ready
    - @ready.each do |c|
      %li{:class => c.id}
        = c.to_s
      
  - if @nocite.length > 0
    %h3 File Errors:
    %p A matching citation was not located for the following files.
    %ul#file-errors
      - @nocite.each do |c|
        %li
          = c.to_s
      
  -if @nofile.length > 0
    %h3 Citation Errors:
    %p A matching file was not located for the following citations.
    %ul#citation-errors
      - @nofile.each do |c|
        %li
          = c.to_s
          %br/
          Expected
          %span.error-assistant
            = "#{c.id.to_verhoeff.to_s}" + ".pdf"
