-# Used by Auto-Complete functionality
-# Add a single list item to a list, with a link to remove it
-#
-# Required Input Variables:
-#    :ns_id      => name_string ID
-# Optional Input Variables:
-#    :ns_name    => name_string name
-#    :ns_role    => name_string role

-# Initialize optional input variables
- ns_name ||= ""
- ns_role ||= @work.class.roles[0]

%li.list_item{:id => "author_#{ns_id}", :class => "movable"}
  = hidden_field_tag "author_roles[]", "#{ns_role}"
  = text_field_tag "authors[]", ns_name, {:class=>'text'}
  -# Ajax-enabled link to add new items to below list
  = link_to_remote t('works.forms.fields.author_list_item.remove'), :url => remove_author_from_list_works_url(:ns_id => ns_id)