-# Used by Auto-Complete functionality
-# Add a single list item to a list, with a link to remove it
-#
-# Required Input Variables:
-#    :ns_id      => name_string ID
-# Optional Input Variables:
-#    :ns_name    => name_string name
-#    :ns_role    => name_string role

-# Initialize optional input variables
- ns_name ||= ""
- ns_role ||= @work.class.roles[0]

%li.list_item{:id => "author_#{ns_id}", :class => "movable"}
  = hidden_field_tag "author_roles[]", "#{ns_role}"
  = text_field_tag "authors[]", ns_name, {:class=>'text'}
  = link_to_function t('works.forms.fields.author_list_item.remove'), 'remove_enclosing_list_item(this);'
