- include_stylesheet('specific/works/fields/common')
-# Add an contributors field, with Auto-Complete.
-# Also adds a list of existing contributors

-# Get the roles for this work subklass
-# Need arrays for the select box: <option value="Author">Author</option>
- roles = @work.all_contributor_roles

-# if name strings are explicitly passed then use them, otherwise collect them from the work
- contributors = @editor_name_strings if @editor_name_strings
- contributors ||= @work.work_name_strings.reject{|wns| wns.role == @work.creator_role}.collect{ |wns| {:name => wns.name_string.name, :role => wns.role}} if @work.name_strings

.author_block
  = label :author, :string, t('works.forms.fields.contributor_name_strings.label')
  %span.instructions= t('works.forms.fields.contributor_name_strings.instructions')

  %ol#contributor_name_strings_list
    -# Build list of contributors
    - if contributors.empty?
      %li.list_item{:id => "contributor_0", :class => "movable"}
        %select{:id => "contributor_roles[]", :name => "contributor_roles[]"}
          - roles.each do |r|
            %option{:value => r, :selected => selected_if_equal(r, roles[0])}= t_work_role_name(r)
        = text_field_tag "contributors[]", nil, {:class=>'text'}
        = link_to_function t('works.forms.fields.contributor_name_strings.remove'), 'remove_enclosing_list_item(this);'
    -else
      - contributors.each_with_index do |contributor, i|
        = render 'works/forms/fields/contributor_list_item', :ns_id=> i, :ns_name=>contributor[:name], :ns_role=>contributor[:role]

  = link_to_function t('works.forms.fields.contributor_name_strings.add'), 'add_contributor_list_item()'
