-# Start & End page fields
-#
-# Possible Input Variables:
-#    :form         => current form (REQUIRED)
-#    :dupe         => duplicate work (REQUIRED)
%td.duplicate
  = label_tag 'dupe_start_page', "Start Page:"
  = text_field_tag 'dupe_start_page', @dupe.start_page, {:class=>'text smallbox', :readonly => 'readonly'}

  = label_tag 'dupe_end_page', "End Page:", :class => 'inline_label'
  = text_field_tag 'dupe_end_page', @dupe.end_page, {:class=>'text smallbox', :readonly => 'readonly'}
%td
  = form.label :start_page, "Start Page:"
  = form.text_field :start_page, :class=>'text smallbox'

  = form.label :end_page, "End Page:", :class => 'inline_label'
  = form.text_field :end_page, :class=>'text smallbox'