%td.duplicate
  = label_tag 'dupe_publication', "#{t 'works.forms.fields.merge_publications.label'}:"
  %br/
  = text_field_tag 'dupe_publication', @dupe.publication.try(:name), {:class => 'text', :readonly => 'readonly'}
%td
  -# Publication field with Auto-Complete.
  -# Also includes some special Javascript - c.f. included javascript file
  = label :publication, :name, "#{t 'works.forms.fields.merge_publications.label'}:"
  %br/
  - @publication = @work.publication unless @work.publication.nil?
  = text_field :publication, :name, :class=>'text', :size => 40

