-#    :form     => current form (REQUIRED)
%td.duplicate
  = label_tag 'dupe_title_primary', "#{@dupe.class.human_attribute_name(:title_primary)}:"
  %br/
  = text_field_tag 'dupe_title_primary', @dupe.title_primary, {:class => 'text', :readonly => 'readonly'}
%td
  = form.label :title_primary, "#{@work.class.human_attribute_name(:title_primary)}*:"
  %br/
  = form.text_field :title_primary, :class=>'text'
  = error_for 'work', 'title_primary'
