-# Publisher text field, with auto-complete
%td.duplicate
  = label_tag :publisher, "#{@dupe.class.human_attribute_name(:publisher)}:"
  %br/
  = text_field_tag 'dupe_publisher', @dupe.publisher.name, {:class => 'text', :readonly => 'readonly'}
%td
  = label_tag :publisher, "#{@work.class.human_attribute_name(:publisher)}:"
  %br/
  - @publisher = @work.publisher unless @work.publisher.nil?
  = text_field :publisher, :name, :class=>'text', :size => 40
