-# Volume & Issue fields
-#
-# Possible Input Variables:
-#    :form         => current form (REQUIRED)

%td.duplicate
  = label_tag 'dupe_volume', "#{Work.human_attribute_name(:volume)}:"
  = text_field_tag 'dupe_volume', @dupe.volume, {:class => 'text smallbox', :readonly => 'readonly'}

  = label_tag 'dupe_issue', "#{Work.human_attribute_name(:issue)}:", :class => 'inline_label'
  = text_field_tag 'dupe_issue', @dupe.issue, {:class => 'text smallbox', :readonly => 'readonly'}
%td
  = form.label :volume, "#{Work.human_attribute_name(:volume)}:"
  = form.text_field :volume, :class=>'text smallbox'

  = form.label :issue, "#{Work.human_attribute_name(:issue)}:", :class => 'inline_label'
  = form.text_field :issue, :class=>'text smallbox'
