-# Pages fields
-#   Defaults to displaying Start and End pages
-#
-# Possible Input Variables:
-#    :omit_start  => if true, Start page omitted
-#    :form        => current form (REQUIRED)
-#    :label       => Label to display (default: End Page)

-# Initialize optional input variables
- label ||= Work.human_attribute_name(:end_page)
- omit_start ||= false

- unless omit_start
  = form.label :start_page, "#{Work.human_attribute_name(:start_page)}:", :class => 'inline_label'
  = form.text_field :start_page, :class=>'text smallbox'

= form.label :end_page, "#{label}:", :class => 'inline_label'
= form.text_field :end_page, :class=>'text smallbox'
