- include_stylesheet('specific/works/fields/common')
-# Title (Primary) field
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
= form.label :title_primary, "#{@work.class.human_attribute_name(:title_primary)} <span class='instructions'>(#{t('app.required')})</span>:".html_safe
= form.text_field :title_primary, :class=>'text'
= error_for 'work', 'title_primary'
