%p=link_to "Return to Publisher List", publishers_url
%h2
  = @publisher.name
  %span=link_to "Edit", edit_publisher_path(@publisher)

%div{:class => "column span-24"}
  %div{:class => "column span-16"}
    %h3="Citations (#{@citations.total_entries})"
    %ol.citations
      = will_paginate @citations
      - @citations.each do |citation|
        = render :partial => "shared/citation", :locals => { :citation => citation }
        
  #facets{:class => "column span-6 prepend-2 last"}
    %div{:class => "column span-4"}
      %h4="Authority for (#{@authority_for.size})"
      %ul.authority-children
      - @authority_for.each do |auth|
        %li= auth.name
      