%fieldset
  %legend Conference Proceeding

  = render :partial => 'author_strings'

  %p
    %label Year of Publication
    %br/
    = form.text_field :year, :size => 4
  %p
    %label Article Title
    %br/
    = form.text_field :title_primary, :size => 40
  
  = render :partial => 'publication'
  
  %p
    %label Volume
    = form.text_field :volume, :size => 4
    %label Issue
    = form.text_field :issue, :size => 4
  %p
    %label Start Page
    = form.text_field :start_page, :size => 4
    %label End Page
    = form.text_field :end_page, :size => 4
    = hidden_field_tag :type, 'JournalArticle'
  %p.submit
    = submit_tag :save