%fieldset
  %legend Journal Article

  = render :partial => 'author_name_strings'
 
  %p
    %label Publication Date:
    = date_select 'citation', 'publication_date', :start_year => 1950

  %p
    %label Article Title*:
    = form.text_field :title_primary, :size => 40
    
  = render :partial => 'publication'  
  = render :partial => 'publisher'
  
  %p
    %label ISSN:
    - issn_isbn = @publication.issn_isbn unless @publication.nil?
    = text_field_tag 'issn_isbn', issn_isbn, :size => 10
    
  
  %p
    %label Volume:
    = form.text_field :volume, :size => 4
    %label Issue:
    = form.text_field :issue, :size => 4
  %p
    %label Start Page:
    = form.text_field :start_page, :size => 4
    %label End Page:
    = form.text_field :end_page, :size => 4
    = hidden_field_tag :type, 'JournalArticle'
    
  = render :partial => 'keywords'
    
  %p
    %label Abstract:
    %br/
    = form.text_area :abstract 
  %p.submit
    = submit_tag :save