%p
  - if Bibapp::Application.config.allow_open_id or Bibapp::Application.config.oauth_config
    %h3 #{t('.header')}:
    - if Bibapp::Application.config.allow_open_id
      - Bibapp::Application.config.open_id_presets.each do |preset|
        = button_to t('.button_open_id', :name => preset['name'].titleize), "/auth/open_id?openid_url=#{CGI.escape(preset['id'])}"
        %br/
      = button_to t('.button_open_id', :name => t('.generic')), '/auth/open_id'
      %br/
    - if Bibapp::Application.config.oauth_config
      - Bibapp::Application.config.oauth_config.keys.each do |k|
        = button_to t('.button_oauth', :name => k.capitalize), "/auth/#{k}"
        %br/
