/ === Sessions === New ===
/ Main
.span-24
  .span-22.prepend-1
    %h2 Login
    %fieldset
      %legend Login using local (#{$APPLICATION_NAME}) credentials
      = form_for @user_session, :url => user_session_url(:return_to => params[:return_to]) do |f|
        %p
          %label="Email"
          %br/
          = f.text_field 'email'
        %p
          %label="Password"
          %br/
          = f.password_field 'password'
        %p
          = f.check_box 'remember_me'
          %label="Remember Me"
          ="(requires browser cookies be enabled)"
        %p
          =link_to "Forgot Password", new_password_path
          |
          =link_to "Sign Up", signup_path
        %p.submit
          = submit_tag 'Log in'
    %p
      - if Bibapp::Application.config.allow_open_id or Bibapp::Application.config.oauth_config
        %h3 Login using external credentials:
        - if Bibapp::Application.config.allow_open_id
          - Bibapp::Application.config.open_id_presets.each do |preset|
            = button_to "Sign in With #{preset['name'].titleize} OpenID", "/auth/open_id?openid_url=#{CGI.escape(preset['id'])}"
            %br/
          = button_to "Sign in With Generic OpenID", '/auth/open_id'
          %br/
        - if Bibapp::Application.config.oauth_config
          - Bibapp::Application.config.oauth_config.keys.each do |k|
            = button_to "Sign in With #{k.capitalize}", "/auth/#{k}"
            %br/
