!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{:name => 'requested-locale', :content => (I18n.locale || I18n.default_locale).to_s}
    = stylesheet_link_tag "blueprint/screen", :media => "screen"
    = stylesheet_link_tag "blueprint/local",  :media => "screen"
    = stylesheet_link_tag "blueprint/print",  :media => "print"
    = stylesheet_link_tag "specific/shared/_header", :media => "screen"
    = stylesheet_link_tag "ui-lightness/jquery-ui-1.8.16.custom"
    = yield :stylesheets
    = javascript_include_tag :defaults
    = javascript_include_tag 'gbsclasses'
    = javascript_include_tag 'jsperanto/jquery.jsperanto'
    = javascript_include_tag 'locale'
    = csrf_meta_tag

    -if $DISPLAY_GOOGLE_ANALYTICS == true
      :javascript
        var googleAnalyticsId = "#{$GOOGLE_ANALYTICS_ID}";
      = javascript_include_tag 'specific/shared/google_analytics'

    - if (@feeds)
      - @feeds.each do |feed|
        = auto_discovery_link_tag(feed[:format].to_sym, { :action => feed[:action], :id => feed[:id], :format => feed[:format] })

    %title= t('personalize.application_name') + " - " + (@title || t('layouts.application.default_title'))
  %body
    .container
      = render :partial => "shared/header"
      = yield :admin_bar
      #flash-messages.span-22.prepend-1
        = render :partial => "shared/flash_messages"
      = yield
      = render :partial => "shared/footer"
  = yield :javascripts